[2021-05-17 22:18] martha-thomae commented on #672
Possible solution: Once the `(x,y)` coordinates are computed (somewhere within the Neon implementation), it is just a matter of re-ordering to make sure that `lry` is always smaller than `uly` and `lrx` is always bigger than `ulx`. I suspect this would also sort out the issue #656.

[2021-05-18 07:52] carrieeex commented on #670
Yes that's what we encountered!

ok! So I checked the MEI files: after reviewing and adding everything, the custos is indeed encoded in the MEI file before I validate. And it was still there after I validated it (so the MEI files are the same before validation and in the resources page of that workflow run); while after I imported the same file back to Neon workflow to review, the last custos disa

[2021-05-18 12:30] yinanazhou opened #673 "Last element missing in the last line of the folio page in Neon"
When I was reviewing the MEI file in Neon within Rodan2, the last syllable **sometimes** disappears with the last custos.

[2021-05-19 11:57] carrieeex commented on #673
When I was reviewing folios today I had the same problem! 2 folios were missing the last syllable and 3 folios were missing the last custos. They were there before but once we put the MEI back to review the last thing just disappears. Not sure they were the same kind of problem or not.

Salzinnes 042r:
<img width="623" alt="missing syllable - 042r" src="https://user-images.githubusercontent.com/59

[2021-05-19 14:36] thesoundbyle opened #674 "Bounding boxes spawn adjacent to newly created symbol rather than below it"
When creating a new symbol (ex: punctum), the bounding box attached to it will appear to the symbol's bottom right rather than directly below it.

![Screenshot_4](https://user-images.githubusercontent.com/62864127/118831759-07c2b600-b88e-11eb-908f-68c00933c78d.jpg)

[2021-05-19 16:09] martha-thomae commented on #674
Very nice feature request and a good example of a first issue for developers to fix :)

[2021-05-19 16:17] martha-thomae commented on #673
I think this might be the same issue as #670. In both cases, the last element within the `<layer>` element is disappearing when the file is given back to Neon. In the cases above, the last element is a `<syllable>` (that contains that last punctum). In the case of #670, the last element of the layer is a `<custos>` (as the screenshots provided in [this comment](https://github.com/DDMAL/Neon/issues

[2021-05-19 16:22] martha-thomae commented on #670
Thanks, @carrieeex! the screenshots of the MEI file helped a lot, specially in discovering that this might be the same issue as in #673.

**To the developers:** the issue seems to be that the last element within the `<layer>` element disappears when the file is re-uploaded into Neon. In this case, the last element within the layer is the `<custos>`. In the case of #673, the last element within the

[2021-05-20 14:58] yinanazhou opened #675 "Unable to ungroup syllables"
When we were correcting in Neon, we found that **sometimes** many syllables are classified as one syllable.....And we cannot ungroup or delete the syllable. We have to delete all the misclassified neumes and reclassify them.

[2021-05-20 15:15] JoyfulGen commented on #671
Oops, I'm sorry, I didn't download the file before correcting it! I'll do so the next time it happens.

[2021-05-20 16:59] JoyfulGen commented on #675
This happened again in folio 040v:
<img width="668" alt="Many neumes one syllable 040v" src="https://user-images.githubusercontent.com/83373378/119019143-df5cb980-b96a-11eb-8f71-fbd37a219499.png">
This is the MEI file:
[Neon 040v all in one syllable.mei.zip](https://github.com/DDMAL/Neon/files/6517601/Neon.040v.all.in.one.syllable.mei.zip)
It's generally possible to fix the problem by ungrouping t

[2021-05-20 18:15] martha-thomae commented on #675
Since this is not an issue in Neon (one can actually ungroup syllables and regroup them at will), we will close this issue. In its place, we will raise two other issues: one for improving the initial grouping of syllables in the Text Alignment job and another to improve the documentation of Neon itself to clarify the steps involved in ungrouping and grouping actions so that the users don't waste t

[2021-05-21 14:58] JoyfulGen opened #676 "No options appear when selecting a syllable"
When one selects a syllable, options appear below the edit box, as illustrated here:

<img width="467" alt="042v normal options" src="https://user-images.githubusercontent.com/83373378/119156239-0a561480-ba22-11eb-8af3-b2a4b03743b6.png">

However, on occasion, we select a syllable and no options appear at all. An example from 044v:

<img width="374" alt="044v all in one syllable and no options_sum

[2021-05-21 16:16] yinanazhou commented on #675
The issue happens in the many-to-one syllable in 021r. For the first misclassified syllable, I cannot ungroup syllable/neume/neume component. I took several screenshots and saved the mei file.
![image](https://user-images.githubusercontent.com/74484576/119167732-ba636600-ba92-11eb-90b3-efd6d28ab8d6.png)
![image](https://user-images.githubusercontent.com/74484576/119167754-c2230a80-ba92-11eb-9b2d-f

[2021-05-25 02:31] martha-thomae commented on #675
Thanks for the clarification, @yihongluo! Yes, this is a big issue. Thanks for including the screenshot for illustrating it.

[2021-05-25 14:40] martha-thomae commented on #672
So, after consulting with the MEI people (see [here](https://github.com/music-encoding/music-encoding/issues/801#issuecomment-847655619)), it turns out that there is an unwritten assumption that the top-left coordinate of the image is `(0,0)`. Everything to the right or down this coordinate has positive values.

[2021-05-25 14:40] #672 closed

[2021-05-26 04:07] annamorphism commented on #676
These are both at the ends of lines. is it possible there is a relationship to a formerly linked syllable, as in   https://github.com/DDMAL/Neon/issues/647  ?

[2021-05-26 11:11] carrieeex opened #677 "Inconsistent UI display"
When opening the Neon job in Rodan2, the image sometimes is not displayed on the entire left screen, like in the image below (Salzinnes folio 072r, nearly half of the left screen is blank, which makes the editing space smaller):
<img width="1122" alt="072r example Neon UI" src="https://user-images.githubusercontent.com/59303880/119649691-7e931c80-be55-11eb-8a73-512569d275bb.png">

Normally I would

[2021-05-26 13:56] JoyfulGen commented on #671
Hi again! So it happened again in folio 076r, in the word "clamabat:"
<img width="1440" alt="076r neumes won't group" src="https://user-images.githubusercontent.com/83373378/119671979-37326f00-be08-11eb-937d-f019727c90d8.png">
The MEI file:
[076r neume won't group.zip](https://github.com/DDMAL/Neon/files/6547164/076r.neume.won.t.group.zip)
And the code snippet for the syllables "cla-ma:"
[code]

[2021-05-26 14:10] annamorphism commented on #671
I notice in the MEI that 1) the neumes are out of order and 2) the "syl" marker is after the neume marker instead of before it. Wondering if those two conditions combine to cause a grouping issue.

[2021-05-26 14:24] JoyfulGen commented on #677
Additional info: I've never experienced this issue and I'm working on a Mac, with Firefox. Jiali's working on a PC, with Chrome. I don't know if that changes anything, but I thought I'd mention it!

[2021-05-26 14:31] martha-thomae commented on #677
Does re-opening Neon help?

[2021-05-26 21:22] annamorphism commented on #676
Update: yes, this seems to be a duplicate issue of #647 and the fix needs to be updated in Rodan.

[2021-05-27 07:00] carrieeex commented on #677
Unfortunately no, the blank space was still there...

[2021-05-31 14:05] yinanazhou commented on #676
I encountered this issue in 045r. I cannot ungroup the syllable/neumes/neume components. And this time, there is no bbox, and no options if I select the syllable.
![image](https://user-images.githubusercontent.com/74484576/120205046-16c94100-c25c-11eb-8ed0-8e0b9d8e10e8.png)
![image](https://user-images.githubusercontent.com/74484576/120205073-1df04f00-c25c-11eb-99e7-146158c4d1a3.png)
![image](http

[2021-05-31 14:13] carrieeex commented on #665
@thesoundbyle I think there is a hotkey for deleting something. In a PC it's Control+D or backspace.

[2021-05-31 19:45] JoyfulGen opened #678 "Way to input flats manually"
This issue https://github.com/DDMAL/MEI_encoding/issues/2 could be fixed by creating a way to input an accidental flat on Neon. Since there are very few, the manual input option would be very satisfactory.

[2021-06-01 12:31] carrieeex opened #706 "neume components of the torculus overlap"
The three neume components (punctum) of the torculus overlap with each other, like in Salzinnes folio 060v below:
<img width="446" alt="060v torculus neumes overlap" src="https://user-images.githubusercontent.com/59303880/120323574-358d0d80-c318-11eb-9b1e-3cb4ed741777.png">

[2021-06-01 13:00] yinanazhou commented on #676
This also happens in 051r, and it's in the middle of a line.
![image](https://user-images.githubusercontent.com/74484576/120327495-68d19b80-c31c-11eb-8109-0441e5c62d00.png)

[2021-06-01 19:32] JoyfulGen commented on #654
This also happens between folios 119v and 120r.

[2021-06-03 03:10] annamorphism opened #679 "Syllables without neume components"
It is possible when editing to delete the neume components of a syllable without deleting the entire syllable. The bounding box is then impossible to remove, because the neumes to which it is attached are invisible...
(In the image, the blank bounding box originally contained "e" but was moved to accommodate the bbox from the inserted neume in yellow.)

![image](https://user-images.githubuserconte

[2021-06-03 14:19] JoyfulGen opened #680 "Colour order (and therefore neume and syllable order) switched"
The colour of two syllables were switched when I did the following steps (I've since tried repeating them and it happened again, so I'm pretty sure this sequence is in some way responsible for the switch):

1. I wanted to ungroup a syllable, but the ungrouping didn't work. This is because all the neume components of the syllable were part of the same neume; when this is the case Neon won't let you

[2021-06-03 14:40] JoyfulGen commented on #680
There was a more extreme example of switched colours in the same folio (124r), but it wasn't caused by the steps mentioned above. In fact I have no idea how it happened. So here it is:
<img width="1390" alt="124r fishy syllables illustrated" src="https://user-images.githubusercontent.com/83373378/120661204-0ed4f100-c456-11eb-95e0-d569ccc4f3b4.png">

The "et" circled in red is pink, and therefore i

[2021-06-03 17:41] JoyfulGen commented on #654
And between folios 131v and 132r.

[2021-06-03 21:43] martha-thomae commented on #678
Short note: this is the same issue as https://github.com/DDMAL/Neon/issues/661. Very good observation that the manual option input in Neon would be satisfactory solution for the MEI Encoding issue.

[2021-06-04 14:42] JoyfulGen commented on #680
Update for the first comment: it looks like I was wrong about the only fix for this being the deletion of the offending neumes. It would appear that when the colours of the neumes/syllables are wrong, the bounding boxes are actually in the correct colour order. @carrieeex discovered that if you drag the right bounding box to the left of the other one, the colours of the neumes flip! Occasionally,

[2021-06-07 21:06] annamorphism commented on #668
@martha-thomae in Neon "ligature" is used to refer to the oblique section ("toggle ligature"="create (or get rid of) an oblique section out of two square neumes.") Maybe this feature should be re-named to "toggle oblique"?
@thesoundbyle ,  is what you are envisioning  the ability to insert oblique symbols in their own right (just as one can insert a virga/punctum/inclinatum), rather than only as a

[2021-06-07 21:45] annamorphism commented on #657
This seems to be partially related to https://github.com/DDMAL/Neon/issues/680
Part of the issue is that newly grouped neume components are always appended to the end of the syllable, no matter what order they are in on the page; this can create very strange orderings, especially if some singletons are involved (because they stay in their former spots). Regrouping the whole neume fixes it by putti

[2021-06-07 22:19] annamorphism commented on #680
The first part of this issue seems related to https://github.com/DDMAL/Neon/issues/657
What is happening (as far as I can tell) is that the newly grouped neume components are always appended to the end of the syllable. The Bboxes seem to do something like the "grouping" of neumes does there, in that they "reset" the ordering to be as it is on the page. (I think taking the neume, moving it away, an

[2021-06-07 22:51] annamorphism commented on #680
as for the problem on 124r another fix from the one @JoyfulGen did is to pull the neume or BBox out of place and back again. Or adding and deleting a neume.  I am not sure *why* it is appearing in this place though, unlike the other case.

[2021-06-08 00:33] martha-thomae commented on #668
Thanks for pointing that out, @annamorphism! Yes, maybe a name change might be good. I remembered a discussion with Julie when the people at the Lab were using the term ligature for only the oblique part of the ligatures and it ended up being a very confusing discussion because of the terminology. That is why we ended up using `neume.oblique` in the IC, to avoid that confusion. So, changing the na

[2021-06-08 16:39] annamorphism commented on #662
This is also true in browser (1c34e14)

[2021-06-08 16:44] annamorphism commented on #669
It highlights if you select as syllable, but not as a neume--the syllables have a closer 1-to-1 relationship with the textboxes. I see having the neume selection highlight the text as a feature request and not a bug.
In any case, this behavior is also true in browser (1c34e14).

[2021-06-08 16:53] annamorphism commented on #671
Don't yet know enough about this issue to test it in browser (1c34e14) but I don't think it's been addressed yet.

[2021-06-08 16:59] JoyfulGen opened #681 "Reassigning multiple syllables to nearest staff often impossible"
More often than not, if I select more than one syllable and click on "reasociate to nearest staff" the edges of the button stay blue and nothing happens, no matter how long I wait. I can only reassociate one syllable at a time. This isn't a huge issue, but it's slightly irksome (especially when I get issue https://github.com/DDMAL/MEI_encoding/issues/25 and I need to reassign an entire staff of sy

[2021-06-08 17:02] annamorphism commented on #673
This deleting of elements does not seem to affect files uploaded within the browser (1c34e14), just those in Rodan. (The "sample manuscript" in browser *is* missing the final custodes on every page, though.)

[2021-06-08 17:04] annamorphism commented on #676
This is (at least partially) fixed in browser (1c34e14); I haven't yet replicated the issue as on 51r, so can't confirm if the fix applies to it as well.

[2021-06-08 17:08] JoyfulGen commented on #641
This is still happening, at least parts of the issue. The neumes don't change pitch after being ungrouped, but one neume does move, and the ligature can't be toggled anymore. It looks like this:

I present an innocuous yellow neume with a perfectly healthy ligature (from folio 158r, penultimate line):
<img width="76" alt="158r yellow boy" src="https://user-images.githubusercontent.com/83373378/121

[2021-06-08 17:15] JoyfulGen commented on #679
I think this has happened to me, but when it did I could select the bounding box and delete it by pressing the "delete" key on my keyboard. Could this work for you?

[2021-06-08 17:17] JoyfulGen commented on #681
Upon further investigation it seems this same issue was raised and closed last year: https://github.com/DDMAL/Neon/issues/636

[2021-06-08 17:20] annamorphism commented on #675
The issue on 21r is connected to a linking syllable ("lum" on the line above) and may be related to #647 , but it is not exactly the same issue. It is possible the same fix (fixed in-browser (1c34e14)) will work, but maybe not; I haven't yet replicated the issue one way or the other.

[2021-06-08 17:26] JoyfulGen opened #682 "Neumes jump around when grouped"
Upon grouping two neumes together, the pitches of all three neume components changed.

Here are the neumes before I grouped them (from folio 160r, last line):
<img width="61" alt="160r Orange and blue before" src="https://user-images.githubusercontent.com/83373378/121230126-d752b400-c85c-11eb-8223-9109a8f7eade.png">

And here's what happened when I grouped them:
<img width="56" alt="160r orange an

[2021-06-08 17:29] annamorphism commented on #680
This same bug is also true in browser (1c34e14)

[2021-06-08 17:36] annamorphism commented on #641
This is fixed in browser (1c34e14) but still an issue in Rodan.

[2021-06-08 20:31] annamorphism commented on #679
I thought that gave me a hang at the time, but it seems to work fine now...and I also haven't been able to recreate whatever steps led to the issue. Closing this issue.

[2021-06-08 20:31] #679 closed

[2021-06-10 19:21] JoyfulGen commented on #654
And 181v and 182r.

[2021-06-10 20:32] JoyfulGen opened #683 "Zooming in and/or dragging a folio too fast causes major slow down"
Any rapid combination of zooming or dragging commands makes neon slow way down, apparently regardless of how many people are using Rodan at that time. Sometimes the slow down lasts a few seconds, sometimes several minutes. If we make the same commands a bit slower, it's usually ok.

[2021-06-11 10:35] carrieeex commented on #665
It would be nice if we can use arrow keys (left and right) to switch between different bounding boxes. For example, when users choose "select by BBox", and then click one of the bounding boxes, press the right arrow key would switch to the BBox on the right.

[2021-06-14 15:05] JoyfulGen commented on #680
Another example of this happened in A02r (Salzinnes). Two syllables were off by two syllables (the order should be green-yellow-blue-pink-orange):
<img width="578" alt="A02r colour rave" src="https://user-images.githubusercontent.com/83373378/121913774-aca2a880-ccff-11eb-8c31-406caad3d13d.png">

The MEI file: [A02r colour order wonky.zip](https://github.com/DDMAL/Neon/files/6649336/A02r.colour.ord

[2021-06-15 12:49] carrieeex commented on #677
I feel like the image would automatically adapt to the size of the pop-up window as I opened it in the first place. For example, when I use Chrome, after clicking "open", a small pop-up window shows up and the image is as small as the window, and it would stay the same size if I maximize it, as shown below:
<img width="721" alt="Neon UI example 124r" src="https://user-images.githubusercontent.com/

[2021-06-15 13:49] kemalkongar commented on #662
Scrolling up to your active page with the changed opacity then scrolling back down will update all pages -- you need to visit the original page for the settings to be applied. Currently working on a fix.

[2021-06-15 18:12] kemalkongar commented on #662
Issue has been fixed in `dev2021`, will test further and open a PR.

[2021-06-16 12:55] kemalkongar commented on #681
Issue is present on the most recent local build. Working on a fix now.

[2021-06-16 13:29] kemalkongar commented on #681
[code]
The function that handles staff reassociation fails to reach the log statement if multiple syllables are selected. No issues with a single syllable.

[2021-06-16 13:33] kemalkongar commented on #681
The function is simply not called with multiple syllables (sometimes ?) and a `console.log` right below the function declaration fails to print except with single syllable highlights.

[2021-06-16 14:11] kemalkongar commented on #681
Line 249 `triggerSylActions` is not being called at all when multiple syllables are selected. So it doesn't get to reach the eventListener.

[2021-06-16 15:20] kemalkongar commented on #662
Fixed in PR #684

[2021-06-16 15:20] #662 closed

[2021-06-16 15:39] kemalkongar commented on #681
Closed with #685

[2021-06-16 16:02] raviraina commented on #683
@JoyfulGen Is this only a problem within Rodan or do you get the same issues running Neon as a standalone?

[2021-06-16 17:50] kemalkongar commented on #675
Tested locally, closing unless it reappears when changes are pushed to Rodan.

[2021-06-16 17:50] #675 closed

[2021-06-16 17:52] kemalkongar commented on #641
Fix confirmed, closing until it reappears in Rodan once changes are pushed.

[2021-06-16 17:56] kemalkongar commented on #589
@JRegimbal Was this issue fixed by the above mentioned merge?

[2021-06-16 18:32] JRegimbal commented on #589
Yes I believe this would've fixed it.

[2021-06-16 18:37] kemalkongar commented on #671
<img width="1792" alt="Screen Shot 2021-06-16 at 2 36 07 PM" src="https://user-images.githubusercontent.com/47402993/122274164-3f824500-ceb0-11eb-8e12-bf9886f6d529.png">

In the given MEI file:

Verovio error in the console when multiple neumes are selected and the "Group Neumes" button is pressed.

[2021-06-16 18:47] kemalkongar commented on #671
Traceback to `verovio-toolkit.js`    `return verovio.vrvToolkit.edit( this.ptr, JSON.stringify( editorAction ) );`

[2021-06-16 18:52] kemalkongar commented on #589
Given the fix, closing until it reappears.

[2021-06-16 18:52] #589 closed

[2021-06-17 17:53] thesoundbyle opened #686 "Clef glyphs will disappear if placed on a specific spot in the page"
The issue only has been observed to affect clef glyphs.

![disappearing clef](https://user-images.githubusercontent.com/62864127/122448230-8a649100-cf72-11eb-9b6d-69c6ca64bb0c.gif)

[2021-06-17 21:10] annamorphism commented on #686
Looks like the clef disappears whenever it is put on "line 0" of the staff. (One can put it on a negative line, but it invalidates the file.) The information for the notes shows up as if there is a clef on "line 0", but it doesn't display!

[2021-06-17 23:39] annamorphism commented on #657
The problem of grouping and re-grouping also happens at the neume component level.For example, in the following picture, the blue neume on "ce" has not been grouped with the others properly, and the neume displays as if F3 is appended to the end:
 ![image](https://user-images.githubusercontent.com/67451875/122484657-08409080-cfa3-11eb-879c-f4fa63a628c6.png)
￼￼￼
Grouping the neume *components* puts

[2021-06-18 14:11] carrieeex opened #687 "cannot submit more than 9 pages in the browser Neon"
I was using [the web version of Neon](https://ddmal.music.mcgill.ca/Neon/) to review Salzinnes folios, with the steps [shown in the wiki](https://github.com/DDMAL/Neon/wiki/Quick-Start#loading-a-user-provided-document):

1. load a new document
2. select "page"
3. select [the MEI file](https://github.com/DDMAL/e2e-omr-resources/tree/main/resulting_mei_files/Salzinnes/processed) to be reviewed and [

[2021-06-18 14:13] carrieeex commented on #687
I was using Firefox with Windows 10

[2021-06-18 14:18] JRegimbal commented on #687
The issue is almost definitely in the index page for Neon, which is currently at https://github.com/JRegimbal/neon-index although if it's going to go back under active development it's probably best to transfer ownership to DDMAL.

[2021-06-18 15:05] thesoundbyle opened #688 "Occasionally, browser Neon will display MEI status as unknown with a blank page"
Currently, browser neon will sometimes have trouble displaying certain folios and show an MEI status of "unknown"

Issue has been experienced in Salzinnes folios: 001r (Chrome) and 174r (Firefox)

Reuploading the folio has seen success as a workaround.

![Screenshot_1](https://user-images.githubusercontent.com/62864127/122581509-1df69a00-d025-11eb-8571-cd7b8c26c574.jpg)
[CDN-Hsmu_M2149.L4_001r.txt

[2021-06-18 15:34] thesoundbyle opened #689 "Browser neon will allow any file format to be uploaded regardless of options"
When attempting to upload a file (either MEI or Picture file), Neon in browser will be able to accept and process any files.
Incorrect files should be rejected, to avoid user-side error.

[2021-06-18 15:35] thesoundbyle opened #690 "Feature Request: the option to remove folios from browser Neon"

[2021-06-18 15:48] JoyfulGen commented on #683
I'm getting the problem in Rodan, I don't know for the standalone!

[2021-06-18 17:22] martha-thomae commented on #690
Hi @thesoundbyle , could you clarify what this issue entails? it is not clear from the title. Could you add a description for clarification? Thank you.

[2021-06-18 17:35] thesoundbyle commented on #690
currently, on the selection page of browser neon, the user has no way of removing a folio/manuscript from the interface

[2021-06-18 19:02] JoyfulGen opened #691 "Request option to link neumes over line breaks"
It happens (rarely, but it happens nevertheless) that a group of inclinatums is separated from their punctum by a line break (example from Salzinnes A25r):

<img width="873" alt=" A25r sad inclinatum ducklings" src="https://user-images.githubusercontent.com/83373378/122605712-cfa5c300-d045-11eb-84c9-ad8a35be5b99.png">

Currently, it's possible to link syllables over a line break by selecting both

[2021-06-18 19:57] kemalkongar commented on #671
Current idea:

- Neon gives an error when certain neueme groupings are selected and operations are called on it.
- This causes verovio to give a `toolkit_edit` error in the cwrap - ccall.
- This can be traced back to `vrv::Toolkit::Edit`.
- Given this is a general function, we assume that the error is caused by the parameters passed into it -- more specifically the `Group` of neuemes.
- Thus, the

[2021-06-18 20:26] GabbyHalpin commented on #671
There might be something related to the enumerated ID. We are noticing different types of ID used to identify neume groups. Also, we will be looking into how the elementID are created when highlighting the groups

[2021-06-18 20:30] raviraina commented on #671
To elaborate on Gabby's comment,`editortoolkit_neume.cpp` may not be handling incorrect elementIds/uuids. Comparing successful vs. unsuccessful grouping objects in the log shows that the failed grouping has a non-standard id in the form of `neume-[some_numbers...]`. My assumption as of right now is that this form of ID is potentially incorrect, and when passed through the functions in Verovio, it

[2021-06-18 20:31] carrieeex commented on #690
Currently, the user can load a new document in the browser Neon, but they cannot delete a specific document they uploaded. The only way to delete the documents seems to clear the cookies and site data, which clears everything (all the documents they have uploaded).

[2021-06-18 20:31] raviraina commented on #671
![Screen Shot 2021-06-18 at 4 19 44 PM](https://user-images.githubusercontent.com/14239364/122613286-9a53a200-d052-11eb-9d3f-8ee615ded25a.png)

For reference, top object groups/ungroups correctly, bottom one with the following TypeError does not.

[2021-06-21 15:25] GabbyHalpin commented on #671
small update: It turns out that these tags are probably not the source of our issue.

[2021-06-21 18:44] carrieeex opened #692 "Cannot merge more than 2 syllables in browser Neon"
In the [browser version of Neon](https://ddmal.music.mcgill.ca/Neon/), the "merge syllables" option is only effective when the user selects 2 syllables. If more than 2 syllables are selected, the expected "merge syllables" option is not given. Instead, the "ungroup" option is given; and if the user clicks "ungroup" in this case, the MEI Status becomes invalid and extra bounding boxes appear. The i

[2021-06-22 13:05] kemalkongar commented on #692
Issue is replicated on browser Neon. It does not appear to be an issue on local Neon. We will investigate the cause.

[2021-06-22 15:14] kemalkongar commented on #688
Are the pages mentioned part of the default Salzinnes manuscript or custom uploads? If custom, could you send the MEI files for them? If not, the issue is not replicable and will be closed.

[2021-06-22 15:26] martha-thomae commented on #688
These are definitely uploads.

@thesoundbyle, could you provide these MEI files?
Please, always include the MEI files with the issue so that the devs are able to replicate it (they do have the images from the shared folder, but not the MEI files used).

[2021-06-22 15:28] kemalkongar commented on #688
We talked over Slack, apparently this happens with the default files. @thesoundbyle will be closing the issue sometime next week if it doesn't pop up, since we can't replicate it.

[2021-06-22 15:31] martha-thomae commented on #688
Ok, please try to keep your discussions in the GitHub issues themselves. That helps for keeping a paper trail.

Thanks for summarizing the feedback here, @kemalkongar.

[2021-06-22 15:45] martha-thomae commented on #688
@thesoundbyle, are you sure that it was with the default Salzinnes pages?

Right now that I am in browser Neon, if I select a sample document (the default document) and a page in it—as in the two following screenshots—I cannot select pages 001r and 174r. They are just not an option.

![Screen Shot 2021-06-22 at 11 41 39 AM](https://user-images.githubusercontent.com/13948831/122956356-ec484080-d34e

[2021-06-22 15:51] thesoundbyle commented on #688
Forgive me if i’m mistaken but it seems that user loaded pages/manuscripts are cached locally. That might be why you can’t see mine or @carrieeex uploads

[2021-06-22 15:57] martha-thomae commented on #688
@thesoundbyle: So, you did upload them. They are not the default images (the ones that browser Neon has by default).
Could you then submit here the MEI files you used when uploading the images?

(If I am missing something that you discussed, @kemalkongar and @thesoundbyle, just let me know.)

[2021-06-22 15:59] martha-thomae commented on #688
I think there might have been a small miss-understanding because the default images of browser Neon and the images we are processing are both from the Salzinnes manuscript. The difference is that the ones that are in browser Neon by default are old images (they have a white background and color patch at the bottom, and they have their own issues). We are processing new images (the ones with the bl

[2021-06-22 16:21] thesoundbyle commented on #688
Ahh I can see how that can be confusing. Yes, we are all working currently on the Salzinnes manuscript. but the folios in question are user uploaded.
The requested MEI files have been added to the issue.
As stated in the issue, the files are valid when reuploaded.

[2021-06-22 16:23] martha-thomae commented on #688
Thank you! :)

[2021-06-22 16:51] thesoundbyle opened #693 "Feature Request: Brower Neon does not allow user to upload multiple pages/manuscripts at a time"
Currently User is only able to upload one page or manuscript at a time

[2021-06-28 13:55] JoyfulGen opened #694 "Button to change neume grouping only creates pedes"
When a neume is selected, the option for a drop-down menu appears and suggests various neume groupings. However, selecting any of these groupings except for pes doesn't seem to do anything at all. The pes selection, regardless of the neume and pitches, makes a stepwise pes starting from the first neume component and deletes the rest. Some examples from folio 161r:

https://user-images.githubuserco

[2021-06-28 18:03] raviraina commented on #694
@JoyfulGen Could you try and replicate the issue either through standalone Neon or on rodan-staging please!

[2021-06-29 12:55] JoyfulGen commented on #694
Update: @raviraina I just tried on rodan-staging and the issue is exactly the same.

[2021-06-29 13:37] JoyfulGen commented on #641
Testing only the Neon job on rodan staging, this issue occurred again in folio 147r. No matter how many times I grouped the neume components, the "toggle ligature" option never appeared:
<img width="1388" alt="147r reluctant orange ligature (staging)" src="https://user-images.githubusercontent.com/83373378/123807091-8d8a4600-d8bd-11eb-84db-a4423a8b5c2b.png">
[147r can't toggle orange boy (staging)

[2021-06-29 13:39] JoyfulGen commented on #681
Testing only the Neon job on rodan staging, this issue occurred again in folio 147r.

[2021-06-29 14:00] JoyfulGen commented on #676
Testing only the Neon job on rodan staging, this issue occurred again in folio 147r. When selecting the blue syllable, no options appear. It's also impossible to delete the syllable; I had to go to neume selection to delete the two puncta.
<img width="1423" alt="147r blue syllable uncooperative" src="https://user-images.githubusercontent.com/83373378/123809174-63398800-d8bf-11eb-9f71-ea7f9880e67e.

[2021-06-30 14:34] yinanazhou opened #695 "Cannot upload MEI files when using safari/chrome"
When uploading a new page in browser neon using safari or chrome, the default file type for `an MEI neume file` is `XML` file, which makes `MEI` files are grey and cannot be selected and uploaded in these two browsers.
![Screen Shot 2021-06-30 at 9 47 16 AM](https://user-images.githubusercontent.com/74484576/123978086-90ed0280-d98d-11eb-8860-fa3a75440921.png)

[2021-06-30 18:58] JoyfulGen commented on #681
I take back what I said! The devs did something (don't know what, but I'm grateful) and it works! Here's the same staff from yesterday, with its syllables all reassigning themselves in a most satisfactory fashion:

https://user-images.githubusercontent.com/83373378/124016181-5c8c3d00-d9b3-11eb-9649-d7c4864c1769.mov

[2021-06-30 19:01] kemalkongar commented on #681
Most likely b635d0f659f291425cba977b4c1cb4611f077a5e, it shows up now since we updated the Neon submodule inside neon_wrapper in the Docker scripts. Same for a lot of the fixed verovio issues.

[2021-06-30 19:01] JoyfulGen commented on #641
I take back what I said! The devs did something (don't know what, but I'm grateful) and it works! And as a bonus, when ungrouping a neume that contains a ligature, the ligature remains, which is fantastic. Here's the same neume as yesterday to demonstrate:
<img width="906" alt="147r ungrouped neume - ligature remains" src="https://user-images.githubusercontent.com/83373378/124016775-ffdd5200-d9b3-

[2021-06-30 19:05] JoyfulGen commented on #676
I take back what I said! The devs did something (don't know what, but I'm grateful) and it works! The offending blue syllable from yesterday now seems to fully exist, and options appear when I select it:
<img width="1370" alt="147r blue boy cooperative (staging)" src="https://user-images.githubusercontent.com/83373378/124017275-898d1f80-d9b4-11eb-9712-f5ecdb3ea5f6.png">
[147r happy blue boy (stagi

[2021-07-01 12:48] JoyfulGen commented on #692
Update: the same issue happens identically in Neon staging:
<img width="1389" alt="131r can't merge (staging)" src="https://user-images.githubusercontent.com/83373378/124126064-467c8c00-da48-11eb-9877-bb683dea5c88.png">

The consequence of ungrouping the syllables is also the same (new bounding boxes, invalid file):
<img width="913" alt="131r too many BBs (staging)" src="https://user-images.github

[2021-07-01 14:14] JoyfulGen commented on #680
The most extreme example of this phenomenon to date, in Salzinnes folio 131r, in Neon-staging. I numbered the syllables as they appear in the "text" section, to make the weird order apparent. There are also two syllables for which I can't find the bounding boxes and that therefore don't seem to exist (see https://github.com/DDMAL/MEI_encoding/issues/29), circled in red:
<img width="1391" alt="131r

[2021-07-01 15:37] annamorphism commented on #680
Another fix is splitting the staff, which then lets you move the syllables out and back again to produce the correct order (faster than inputting them all again. ) Not sure why this works though.

[2021-07-02 02:52] annamorphism opened #696 "merging syllables not always possible"
For some pairs of syllables one gets the option to "merge syllables" as below, on 11r:
![image](https://user-images.githubusercontent.com/67451875/124213231-343d3500-dabe-11eb-8be0-43cb9d801b3c.png)
For others, one does not get this option, but has to "group neumes" (which produces the same result).
![image](https://user-images.githubusercontent.com/67451875/124213170-1bcd1a80-dabe-11eb-8d2a-10201

[2021-07-02 12:27] JoyfulGen commented on #680
That's great to know, thanks!

[2021-07-06 19:51] GabbyHalpin commented on #695
So this has been fixed remotely we will probably upload the changes tomorrow!

[2021-07-07 12:31] napulen opened #697 "False-positive "Invalid MEI" check, presumably in rodan-staging"
@JoyfulGen mentioned an issue about an `Invalid MEI` output in `rodan-staging` Neon.

This error/warning disappeared after doing any trivial change in the editor (e.g., slightly moving the position of an element). The `Invalid MEI` legend disappears right after the saving trivial change.

This might be only happening on `rodan-staging` but this is not confirmed.

[2021-07-07 12:31] napulen commented on #697
@JoyfulGen please fill out any additional details if I missed something

[2021-07-07 13:37] GabbyHalpin commented on #689
Hey @thesoundbyle! I I have a few follow up questions for this issue. For one, does this occur in many browsers, or only in one, and if so, which one? I'm just checking since I don't seem to get the same issue when using browser Neon in safari nor in google.

[2021-07-07 13:46] thesoundbyle commented on #689
Hey @GabbyHalpin , I've confirmed it happens on chrome and edge (on windows). That my fault for not clearly writing the steps to properly reproduce this issue. But while selecting a file, I have the option to select any file by clicking the "All Files" option in the bottom left of windows explorer. Attached is a screenshot to further illustrate what I'm explaining.

![Screenshot_1](https://user-im

[2021-07-07 15:39] JoyfulGen commented on #697
I can confirm that when I opened a file (folio 083r) in rodan2, the file was valid. When I opened the same file (without having changed anything) in rodan-staging, the file was invalid. Just for fun, I transferred the file back to rodan2 and that time it was invalid. So I guess something is going on when the file is opened in rodan-staging?

This is the file, downloaded from rodan-staging:
[083r i

[2021-07-07 15:54] napulen commented on #697
Oh wow! Plot twist.

[2021-07-07 17:21] JoyfulGen commented on #697
Oop, correction: the file I put back into rodan2 didn't go through staging; it was the same file that I downloaded from the rodan2 workflow, so the only thing that happened to it is that it was validated and then re-uploaded to rodan. I'll try to repeat the process to confirm this.

[2021-07-07 17:51] carrieeex commented on #680
I had this issue (switched colour order) in A08r in Neon in Rodan2, which happens along with the [weird syllable issue](https://github.com/DDMAL/MEI_encoding/issues/29#issuecomment-875787723).

I got this fixed with the following steps:
after deleting the empty syllable in the MEI file, I uploaded the edited MEI in the browser Neon (I also tried in Rodan2, it is the same), and assign the wrong ord

[2021-07-07 18:29] JoyfulGen commented on #697
Confirmed! I validated the rodan2 Neon file without touching it (it was valid), re-uploaded it to rodan and ran it through a Neon job and when I opened it it was invalid.
Here are the before and after MEI files (I haven't corrected the folio at all, so the only differences should be what's making the folio invalid):
[079r downloaded from rodan2 immaculate.zip](https://github.com/DDMAL/Neon/files/6

[2021-07-07 18:54] JoyfulGen commented on #676
Sorry to report that a new case of the option-less syllable has appeared in rodan staging:
<img width="1382" alt="079r option-less syllable" src="https://user-images.githubusercontent.com/83373378/124813550-024f2700-df33-11eb-8585-2b4fb1e46308.png">
[079r option-less syllable.zip](https://github.com/DDMAL/Neon/files/6779484/079r.option-less.syllable.zip)
This is the first time this has happened si

[2021-07-08 12:41] JoyfulGen commented on #696
This looks like the same issue as https://github.com/DDMAL/Neon/issues/676! One of the consequences of the syllable having no options is that you can't delete it or merge it.

[2021-07-08 12:53] napulen opened #698 "Code coverage"
Including code coverage of the tests is desirable.

See https://github.com/DDMAL/MEI2Volpiano/issues/42

[2021-07-08 22:18] annamorphism commented on #697
a similar thing has been known to happen in browser Neon! https://github.com/DDMAL/Neon/issues/651

[2021-07-08 22:20] annamorphism commented on #683
wondering if this is a variation on https://github.com/DDMAL/Neon/issues/652 where the issue was the number of pages being scrolled through rather than the speed of the command.

[2021-07-13 18:40] annamorphism opened #699 "staff split/merge options"
The option to split or merge a staff only appears if you click on elements (i.e. neumes) ON the staff in question. Since a split is likely to be needed where there are no elements, this is confusing...

[2021-07-13 19:08] annamorphism commented on #680
I have also had a case of colour order being incorrect at the staff level (see below, where there is no pink staff between the dark and light orange.)

![image](https://user-images.githubusercontent.com/67451875/125508204-efe5f998-db76-47f2-831c-d710eafc613b.png)

(In the mei file at this spot there is ' sb n= "15" ' which isn't at any other staff break. Not sure if this is relevant)
![image](http

[2021-07-13 19:09] annamorphism commented on #693
agreed that this would be really nice to have...

[2021-07-13 19:25] annamorphism commented on #690
Note that this means if you accidentally mismatch an image and MEI while uploading many files, it becomes hard to correctly reassign them without clearing everything, so it's an impediment to doing lots of pages at once.  (The upload times out if you try to upload the same image with a different MEI, or at least it does for me.)

[2021-07-14 20:15] annamorphism commented on #687
This happened to me too, but after only 7 documents, and only in Firefox. In Opera I could keep going...
![image](https://user-images.githubusercontent.com/67451875/125686865-b6a10259-8f4e-44a4-b9d9-58dce4c19bbb.png)

[2021-07-19 19:02] annamorphism commented on #666
additionally/alternatively, it would be convenient to have the option to go directly to the next syllable from within the dialogue box, for when one has to modify a large number of syllables at once (rather than click on each one individually.)

[2021-07-21 12:30] carrieeex commented on #661
Apparently, naturals are also in the Salzinnes manuscript. So far we've found them in folios 129r, 168v and 177v. Here's an example in folio 177v:
<img width="483" alt="177v flat and natural" src="https://user-images.githubusercontent.com/59303880/126487771-599c29c3-30c4-4bfe-af95-d05edc33c025.png">

[2021-07-26 13:44] martha-thomae commented on #661
Accidentals should be implemented with the element `<accid>` included in the `<layer>` element. It should use the `@accid` attribute to indicate the type of accidental. Assuming we are only encoding _flats_ and _naturals_, we only need two values for this attribute `f` and `n`. Therefore, we have two options for `<accid>`:
- `<accid accid="f">` for a flat
- `<accid accid="n">` for a natural

Also,

[2021-07-28 15:39] GabbyHalpin commented on #661
Update: The front end of this issue is complete. I am now working on the backend. So Far, I have run into an issue where the <accid> tag is not recognized by Verovio.

[2021-08-02 18:34] GabbyHalpin commented on #661
Update: I have made progress!!! I have fixed the inputForm error that was causing the image to become undefined (Shoutout to @JRegimbal for the help). Now The accidentals are being added to the Mei file and there no errors being thrown. However, The added acids are not showing up on the frontend of Neon, and the specific accid info is not included in the Mei file ex: accid = 'f'. I will now be wor

[2021-08-10 20:40] annamorphism opened #700 "invalid page, invisible custos? - Neon allows user to input glyphs outside of facsimile, results in invalid folio"
In an issue possibly related to #651 and #697, a page turned up as invalid after some very trivial button click (sadly, I don't remember what). "Undo" created an apparently identical but valid page (see below)
![image](https://user-images.githubusercontent.com/67451875/128930764-a27b2bdf-b6cd-407b-85da-fb3101fb0466.png)
![image](https://user-images.githubusercontent.com/67451875/128930836-efe5f545

[2021-08-10 20:47] annamorphism commented on #700
aha! The problem seems to be that one might click outside of the facsimile while still in "insert" mode. On the right side of the page this amounts to clicking in the area with the edit information and does nothing. In the white space below the page, the elements are inserted at the same x coordinate and a y-coordinate corresponding to C0 on whatever the lowest staff is. However, clicking in the w

[2021-08-10 21:21] annamorphism commented on #697
the only differences should be what's making the folio invalid

I just checked on this, and the only differences are that the "angry" file is missing the final syllable ("le") (this also means the corresponding zones on the folio never get referenced.) The file for 83r is also missing some syllables at the end.
Could these missing syllables be causing a false-positive "invalid" (maybe because thei

[2021-08-16 13:33] yinanazhou opened #701 "Request to add a left tail to a neume"
Hi, I am trying to add a left tail to a neume in Neon. I'm thinking about first adding a primitive element, and then adding a head shape (as illustrated in the screenshot). @annamorphism, what would a musicologist like to use? Thank you for your help!

![image](https://user-images.githubusercontent.com/74484576/129571368-9a9232be-dab1-4d1e-b171-878f5e6da6eb.png)

[2021-08-17 17:22] GabbyHalpin commented on #661
GOOD NEWS: I have gotten the accidentals to show up on screen. its is very close to being fully functional.
WEIRD NEWS: It would seem that when we add an accidental, then add another to another note, the first on disappears. If I were to add a third, the first would reappear, the second would disappears and the third would be placed no issue. there would be this weird alternation every time we add

[2021-08-17 18:32] martha-thomae commented on #661
Hi @GabbyHalpin! This looks amazing. Even with the accidentals disappearing for some unknown reason, they look nice when they do appear. Could you send me the MEI files generated by each addition of these 3 accidentals? I want to see how they are encoded and if that also explains why they are dissapearing.

[2021-08-17 20:43] annamorphism commented on #701
Hmm. Neumes with left tails never appear by themselves, so they aren't _exactly_ a "primitive element". That's definitely the easiest place to find them, though, so probably a good place to implement it.   I think they make the most sense under the "head shape" menu, but then the name of the menu should probably be changed (maybe to "change note appearance" or something). Otherwise nobody is going

[2021-08-18 13:50] martha-thomae opened #703 "Correct virga encoding"
The encoding of the virga should use a `@tilt=s` (south) attribute since the tail of the virga goes down. Currently, the file exported by Neon always encodes virgas with `@tilt=n` (north).

Verovio only renders the latter as a virga (`@tilt=n`), so this should be corrected in Verovio too.

[2021-08-18 13:59] martha-thomae commented on #701
Hello everyone!
Here I am summarizing the discussion we had with @GabbyHalpin and @yinanazhou :

So, after discussing this with an expert in neumes and in MEI (Elsa De Luca), she indicated that the down tail on the right and on the left of a neume is actually encoded in the same way with a `<nc>` that has an attribute of `@tilt=s` (south, for the tail going down).

- So, a virga would be encoded a

[2021-08-18 14:05] martha-thomae opened #704 "Support for liquescent"
Add a primitive for liquescent. You can find the encoding of liquescent [here](https://music-encoding.org/guidelines/v4/content/neumes.html), there are a couple of examples.

The testers didn't find liquescent neumes on Salzinnes. However, there are many of them in MS73 and Einsiedeln.

Just a few examples found by Jiali in MS73:

<img width="959" alt="006 010 neume" src="https://user-images.githu

[2021-08-25 13:36] JoyfulGen commented on #706
After discussing this further, @martha-thomae suspects that the problem could be a bounding box issue. In Salzinnes, the torculus was the only neume with multiple puncta classified together as one neume. All other neumes, such as the podatus, were split into individual puncta. It's therefore possible that in the case of the torculus, all three puncta were encoded as being part of the same zone and

[2021-08-25 13:39] carrieeex commented on #703
The "reversed virga" neume component is working properly in Neon in staging!

An example in Salzinnes 001r:
![image](https://user-images.githubusercontent.com/59303880/130800418-0b0fb25f-0d3e-4241-b881-051a40bf2e8b.png)

and in its MEI it looks like:
`                                        <nc xml:id="m-64fafff4-cece-48f6-8038-5150f85224f7" facs="#m-7e023dcf-c335-4834-a8f0-254d18f0879b" oct="3" p

[2021-08-25 13:45] carrieeex commented on #701
As mentioned [here ](https://github.com/DDMAL/Neon/issues/703#issuecomment-905510699)that "revised virga" is working properly in Neon in Rodan-staging! Now the drop-down menu needs to be updated:
![image](https://user-images.githubusercontent.com/59303880/130801713-9546bb64-6712-4fa3-a75b-00a129b3cddc.png)
it should contain all the styles (add "reversed virga" to the list) so the user can replace

[2021-08-25 13:49] carrieeex commented on #701
and for now, if the user selects "virga" in the list, it appears to be a "reversed virga":
![image](https://user-images.githubusercontent.com/59303880/130802603-cb4bd2ac-41fc-418b-a0d7-d6644c9428e3.png)
![image](https://user-images.githubusercontent.com/59303880/130802631-0cdccf8f-a50f-4849-9d5d-7afe4bbaf7e5.png)
which needs to be fixed.

[2021-08-25 14:46] martha-thomae commented on #703
Perfect. Thanks for confirming this, @carrieeex ! Will close this issue then :)

[2021-08-25 14:46] #703 closed

[2021-08-28 01:15] martha-thomae opened #709 "Support for divisio"
One last thing we need support for in Neon that we have already found several times in the manuscripts we have worked on so far is the encoding of divisio. Divisio is a barline that is found between different chants (or the ending part of the chant, the "euoae"). Here you can see an example of divisios:

![Screen Shot 2021-08-27 at 9 01 44 PM](https://user-images.githubusercontent.com/13948831/131

[2021-08-28 01:17] martha-thomae commented on #709
A few notes:

We will need to move to the **5.0.0-dev** version for this change. Based on the XML processing instructions (see below) and the root mei element of a file exported from Neon, the current schema of MEI we are using is: `https://music-encoding.org/schema/4.0.0/mei-all.rng`

XML processing instructions:
[code]

MEI root element of the same file:
[code]

We will need to change lines 2 an

[2021-08-28 01:26] martha-thomae commented on #709
And a second note:

I just noticed that [`<divLine>`](https://music-encoding.org/guidelines/dev/elements/divLine.html) doesn't have any parent element in the schema (see the "contained by" section, it is empty). I think this is a mistake in the schema. The parent should be `<layer>`. So, we need to modify the MEI schema for allowing `<divLine>` to be a child of `<layer>`. Maybe @yinanazhou or @car

[2021-08-28 04:01] martha-thomae opened #710 "Update MEI schema version (invalid 'rotate' attribute)"
There is a `@rotate` attribute that is included in the `<zone>` element when a staff is rotated in Neon. This attribute is supposed to be invalid in the version of MEI we are using [version 4.0.0](https://music-encoding.org/guidelines/v4/content/#). The `@rotate` attribute will be included in the schema in the next MEI release (version [5.0.0-dev](https://music-encoding.org/guidelines/dev/content/

[2021-08-30 02:39] martha-thomae commented on #710
By the way, it might be worth consulting @JRegimbal about this before making any decisions about updating the version of the schema being used or removing any customization within Neon.

Maybe we don't need to update the internal schema on Neon, but it might be good for the files coming out to reference the right schema where everything encoded is valid. And this can be easily achieved by just cha

[2021-08-30 14:25] JRegimbal commented on #710
AFAIK none of the breaking changes between 4 and 5.0.0-dev would break Neon, but it would be worth running the output files against that dev schema first.

[2021-09-13 01:37] GabbyHalpin commented on #661
Hello! I have some great news! The disappearing issue has been fixed. It in the View_element.cpp file and one variable was called accid rather than element. The changes are now up on accid_fix and will be pushed as soon as possible once we have tested it to make sure there are no resulting issues.

[2021-09-13 14:02] JoyfulGen commented on #665
It would also be nice to have a shortcut for grouping and ungrouping neumes. For example, when users select certain neume components, "g" groups them and "shift g" ungroups them.

[2021-09-13 18:33] yinanazhou commented on #661
I tested locally. The disappearing issue has gone on my end. But @carrieeex and I found a new issue that when we added an accid in neon, saved that file and input it again to neon, neon does not show that accid.

[2021-09-14 12:33] JoyfulGen opened #713 "Oblique way too long for Einsiedeln neumes (aesthetic issue)"
Obliques in Neon seem to have a fixed length that doesn't at all depend on where the puncta that compose it are placed. This length is fine for Salzinnes, because it usually corresponds pretty exactly to the average oblique length in that manuscript. In Einsiedeln, however, the neumes are much smaller, so the Neon oblique is almost always too long. This sometimes results in overlap, which can be c

[2021-09-14 15:19] JoyfulGen opened #714 "Staff order wrong, very difficult to correct"
**EDIT: Please refer to my December 15th comment for a summary of the situation and a possible solution!**

(This issue seems to be related to @annamorphism's comment of July 13th in this issue: https://github.com/DDMAL/Neon/issues/680)

In Einsiedeln folio 002r (the first Einsiedeln folio to make it all the way to Neon!), the staff order is all wrong. This is obvious from a) the fact that the syl

[2021-09-14 15:49] JoyfulGen commented on #714
Update: I had time to run two more folios (012r and 099v) and both were fine, so it looks like this issue isn't too common.

[2021-09-15 12:39] JoyfulGen commented on #706
I've confirmed that the zone issue occurs with every clivis and scandicus in Einsiedeln, as well as with every torculus as before. For example, a clivis that looks like this:
<img width="83" alt="002r OG clivis" src="https://user-images.githubusercontent.com/83373378/133434635-a7c9d955-fbf1-4741-81e9-d1cd4c57cc6c.png">
Shows up like this:
<img width="72" alt="002r Clivis misaligned" src="https://u

[2021-09-15 14:32] yinanazhou commented on #710
I have already updated MEI to `5.0.0-dev` in the `update-mei` branch. It is worth noting that the MEI files we have produced before are all in `4.0.0`, so if we input those files directly into neon, it would be `invalid`. But once it is edited (like one move), the file would be rewritten, and it would be `valid`.

[2021-09-18 16:11] GabbyHalpin commented on #701
My bad clicked the wrong button. However, is this issue now resolved? @martha-thomae

[2021-09-18 16:42] GabbyHalpin commented on #661
We have now completed the accidentals feature. If there are any new features or things you would like us to add, please let us know. Let me know if we are allowed to close this issue

[2021-09-20 19:51] yinanazhou commented on #714
Hi @JoyfulGen, is this what it is like when you first open Neon? If so, I guess this issue regards more how the input MEI file is generated by Rodan.

[2021-09-21 17:23] JoyfulGen commented on #714
Yes! The staves look like this when I open Neon and nothing I do seems to change it.

[2021-09-21 17:53] #692 closed

[2021-09-22 13:35] carrieeex opened #717 "Highlight function not working when BBoxes are displayed in browser Neon"
When the user chooses `Display Tex BBoxes`, the highlight function is not working when highlight by `Staff`, `Syllable`, or `By Selection Mode`, and nothing can be selected. (working fine when highlight by `Neume` the BBoxes is not selected)

highlight by staff:
![image](https://user-images.githubusercontent.com/59303880/134351032-4be9144f-8153-4305-b7a1-f5279b6e0af4.png)

highlight by syllable:
!

[2021-09-22 14:10] carrieeex commented on #717
The `layer element` can be selected when highlighting `by Selection Mode`, either when the BBoxes are chosen or not. It is just not highlighted by colour.

[2021-09-22 14:18] carrieeex opened #718 "The Layer Element is not highlighted when "Highlight by Selection Mode" is chosen in browser Neon"
The Layer Element is not highlighted when "Highlight by Selection Mode" is chosen in browser Neon (they can be selected or edited, i.e. functioning well). The neumes are highlighted.

When "Highlight - Selection" is chosen, and choose Layer Element, accidentals are highlighted as expected as follows:
![image](https://user-images.githubusercontent.com/59303880/134360244-03cc1f66-a2a7-48d9-b7a9-1d88

[2021-09-24 15:00] carrieeex commented on #709
A short note:
For the current version (MEI 4.0.0), if we add the ` <divLine> ` in the interactive classifier, the ` MEI_encoding ` job of the OMR workflow will generate it in the MEI file (see code below from Einsiedeln folio 004r); and when we import this MEI into Neon, the `MEI Status` will remain "Checking..." (I thought it was because it does not support `<divLine>` yet). If we edit it in Neon

[2021-09-25 16:46] carrieeex commented on #717
The [fix](https://github.com/DDMAL/Neon/commit/1566890631da43f2b1d235c174d478574ffc5b31) works!

[2021-09-25 18:27] GabbyHalpin commented on #709
![Screen Shot 2021-09-25 at 2 26 42 PM](https://user-images.githubusercontent.com/68965715/134782510-8c70e65f-0db7-4e38-931d-0727a34d7f1c.png)

For the desired division, these are some of the options supported by SMuFL, there may be others as well. Just for clarity, which kind are we looking for, since there are different heights, etc.

[2021-09-27 14:49] yinanazhou commented on #718
I will add the option `Highlight - Layer Element` in the highlight menu and complete its function.

[2021-09-28 12:23] JoyfulGen opened #720 "Accidentals only appear on top line of staff in browser Neon and refuse to be moved elsewhere"
When inputting an accidental (it happens for both flats and naturals), the symbol appears on the top line of the staff, regardless of where I clicked. If I try to select it and drag it to the correct place, it just hops right back to where it was before. Video evidence with 080v of the Salzinnes manuscript:

https://user-images.githubusercontent.com/83373378/135085633-f2c5ed09-bc11-4183-a1f5-c3ff3

[2021-09-29 17:04] #717 closed

[2021-09-29 17:08] #718 closed

[2021-10-08 14:59] JoyfulGen opened #722 "Moving and grouping neume components changes pitch order"
**EDIT: Please refer to my December 16th comment for a summary of the situation and a temporary fix!**

This is issue is possibly related to https://github.com/DDMAL/MEI_encoding/issues/31.

When training the interactive classifier for the Einsiedeln manuscript, I taught it to recognize neume groupings, such as a pes or a clivis, as a whole. This means that when a folio ends up in Neon after a ful

[2021-10-12 15:54] yinanazhou commented on #722
The issue also appears in browser neon.

[2021-10-13 15:46] yinanazhou opened #723 "MEI status is always checking for Einsiedeln"
As shown in the screenshot, when uploading the Einsiedeln manuscript to neon, the MEI status is always checking. This appears in both browser neon and local neon.

![image](https://user-images.githubusercontent.com/74484576/137167773-1488c5f3-30f5-4478-b4f3-91b5786fc409.png)

The error shows in the console is:

[2021-10-20 12:49] JoyfulGen opened #724 "Incomplete ungrouping of a neume involving an oblique"
In browser Neon, ungrouping a neume with an oblique in it results in the oblique staying grouped with the first punctum of the neume. This situation happens when a neume contains an oblique with at least one punctum preceding it (if the oblique is the first component of the neume, there's no issue). From what I can tell, the issue is systematic; no matter how many neume components are before the o

[2021-10-20 12:55] JoyfulGen commented on #724
This issue also happens in rodan staging, but not in rodan2.

[2021-10-22 01:34] carrieeex commented on #709
and for convenience and future reference, the support for divLine in MEI schema is discussed [here](https://github.com/music-encoding/music-encoding/issues/861).

[2021-11-12 20:34] annamorphism commented on #724
In what might (?) be a related issue, ungrouping certain neumes with ligatures (those where it is the first component) makes all the components merge into one/disappear. Like so:
![image](https://user-images.githubusercontent.com/67451875/141530926-ad41b2be-2dc9-430e-8e92-8f243e797df8.png)
![image](https://user-images.githubusercontent.com/67451875/141530907-36f4c3b8-55a6-4833-b130-b9025f69c651.pn

[2021-11-12 20:52] yinanazhou commented on #724
Hi @annamorphism , I just checked about this issue. Just to confirm, does it only happen to neumes that start with a ligature?

[2021-11-12 20:58] annamorphism commented on #724
Correct. When the ligature is elsewhere it behaves as expected:
![image](https://user-images.githubusercontent.com/67451875/141533640-431a9843-527b-41e5-93f5-d5ba2156f5bb.png)

[2021-11-16 00:56] annamorphism opened #727 "neumes with no components"
on occasion an otherwise valid MEI file will turn out to have a neume which is not associated with any neume components, and which is thus invisible on the facsimile.
![image](https://user-images.githubusercontent.com/67451875/141875605-a81d9797-738f-48ab-85d8-f570057a09fd.png)

these "invisible" neumes behave like other neumes in some ways, and affect the colour order (which appears to skip the c

[2021-11-22 14:21] JoyfulGen opened #730 "All divisios disappear when the UNDO button is clicked"
Exhibit A:

There are divisios in the three first staves, and when I click the UNDO button they all disappear. This happens no matter how many divisios I've input, or if I did other actions between adding divisios.

https://user-images.githubusercontent.com/83373378/142877193-7eeca389-4bbf-437d-94ca-78d7ec4e19c9.mov

(The INVALID status is another issue that I'm currently trying to figure out.)

[2021-11-22 14:59] JoyfulGen commented on #730
I've found another disappearing divisio issue, I don't know if it's related or not:

Divisios that are in the MEI file right out of the e2e workflow (so that have been identified by the IC) appear in Neon browser when I upload the file. However, if I reupload a file that I manually input divisios in, the divisios don't appear. They're definitely still in the MEI file, but they don't show up on Neo

[2021-11-24 15:15] yinanazhou commented on #730
Hi @JoyfulGen , I have pushed some changes yesterday. I cannot reproduce the disappearing division issue right now on browser neon. Could you please test again whether these two issues still happen? Thank you!

[2021-11-29 13:45] JoyfulGen commented on #730
I am delighted to report that they don't! Divisios don't disappear when I click the UNDO button, and they also don't disappear when I reupload the file to browser Neon. Thank you!

[2021-11-29 18:34] yinanazhou commented on #730
Glad to know! In this case, I will close this issue.

[2021-11-29 18:34] #730 closed

[2021-11-29 18:36] #724 closed

[2021-12-06 13:50] JoyfulGen opened #735 "Divisios don't align with the staff (aesthetic issue)"
If a staff isn't horizontally straight (which is often the case, since the staves follow the slant of the page), the divisios I put on it don't align. It looks like the divisios are staying on an imaginary perfectly straight staff, so that when the actual staff slants down, the divisios don't follow. Demonstration:

https://user-images.githubusercontent.com/83373378/144857257-781a87eb-03d3-450d-9f

[2021-12-07 18:58] JoyfulGen commented on #714
Important update: It looks like the staff order issue is at least partly due to actions performed within Neon. I think it has something to do with the staves overlapping, but I'm having a lot of trouble reproducing the problem consistently. The following video is kind of long, but it illustrates all the issues clearly (the issues are explained below, in order of appearance):

https://drive.google.

[2021-12-07 19:21] JoyfulGen commented on #714
So... the plot thickens. Now the colours are changing even if the staves don't even touch. I was hopeful that I could at least avoid the issue happening by adjusting the staves without ever letting them overlap, but now I'm at a loss.

https://user-images.githubusercontent.com/83373378/145092415-80bbd3fc-9896-4a84-9dad-b9302c04aa55.mov

[2021-12-08 14:59] JoyfulGen commented on #676
Option-less syllable happening in browser neon, at least twice per folio.

<img width="1369" alt="Einsie 004v syllable no options" src="https://user-images.githubusercontent.com/83373378/145230564-78b24a79-f40a-4535-b429-d8032e6d46db.png">

[2021-12-09 21:24] yinanazhou commented on #714
Hi @JRegimbal, could you please have a look at this issue? I thought it might relate to the position of `<sb>` or `custos`, but when I tested it, I cannot consistently reproduce the issue by changing their positions.

[2021-12-15 16:45] JoyfulGen commented on #714
**A summary:**

@yinanazhou explained to me that the positioning of the staff is determined by the x and y coordinates of its upper-left corner. If two staves don't overlap, their order is determined by the y coordinate. However, if the staves DO overlap, their order is determined by the x coordinate. Therefore, two staves can be in the wrong order if the upper-left x coordinate of the top staff i

[2021-12-15 18:07] annamorphism commented on #714
@JoyfulGen I also found this solution independently! But it does make the staff "too long."
I too would like to know more about the bounding box of the staff. It does extend into the "ledger lines" above and below (e.g. the yellow neumes in line 2 in the example above)--do those affect the "intersection" of the staff areas?

[2021-12-15 18:31] martha-thomae commented on #714
@yinanazhou, seeing the details now, I think this should be fixed within Neon, and not by the user. Maybe change the heuristics a bit?

Maybe look at this comment by Juliette for another editor that seems to have a similar heuristic for determining the staff order and the solution she proposes: https://github.com/MeasuringPolyphony/mp_editor/issues/95#issuecomment-961890966

[2021-12-15 21:18] martha-thomae commented on #714
@yinanazhou, the proposed solution consists of evaluating both the intersection in `y` and `x`. Instead of assuming that if the systems intersect in `y`, they must be side-by-side (and the left-most system is ordered first); we can also evaluate if they intersect in `x`. If the intersection in `x` is significant (as would be in the example video shown above), and the intersection in `y` is not tha

[2021-12-15 21:23] martha-thomae commented on #713
Note after the meeting today, @yinanazhou. This seems to be a **Neon issue** rather than an IC or MEI Encoding issue.

We saw in Neon how two notes are toggled into a ligature and the length of this oblique ligature changes based on the vertical interval between its two notes. The larger the vertical interval between these notes, the larger the whole oblique shape is.

Moreover, a given interval (

[2021-12-15 21:27] martha-thomae commented on #714
@yinanazhou, last note for today: once this is corrected, you can remove the note in the [wiki](https://github.com/DDMAL/Neon/wiki/Instructions). Thank you!

[2021-12-16 13:56] JoyfulGen commented on #722
A summary:

**The issue**: The individual neume components of a neume are sometimes ordered wrong in Neon. This can happen when moving a neume using the "neume component" selection, or when grouping neume components together. The pitch order of a same neume can change every time it's moved. However, it doesn't happen every time and the unifying factor is yet unknown.

**Where**: The issue happens

[2021-12-18 20:54] yinanazhou commented on #714
Hi, I have already merged the changes in #736. I made the staff order only depend on the `x` coordinate if there is overlap on the `y` axis, and the `x` overlap is smaller than the half-length of the staff line. I will close this issue. If it needs further adjustment, please let me know!

[2021-12-18 20:54] #714 closed

[2021-12-22 02:39] yinanazhou commented on #676
I found that this only happens when the syllable has attribute `@follows` or `@precedes`. When I deleted these two attributes in the MEI file, the options for syllable appears when I select the syllable. It seems like the two attributes are automatically generated in the IC job in Rodan. I need advice from @martha-thomae , @annamorphism , and @JoyfulGen , are `@follows` and `@precedes` needed in t

[2021-12-22 19:02] yinanazhou commented on #735
The issue has been solved in merge #737. I will close this issue. Please let me know if it needs further adjustment.

[2021-12-22 19:02] #735 closed

[2021-12-22 21:05] yinanazhou opened #738 "Accid and divLine jump to the last staff line when re-associating to nearest staff"
In `select by neume` mode, when re-associate an accid or divLine to the nearest staff, the chosen element will jump to the last staff line.

[2021-12-29 16:33] yinanazhou commented on #738
The issue is solved in the latest merge. It is due to the Drag action making `uly` too large. And `accid` and `divLine` don't need pitch adjustment. I will thus close this issue.

[2021-12-29 16:33] #738 closed

[2021-12-29 17:03] yinanazhou commented on #720
As pointed out by @JRegimbal, the issue is caused by the confusion of the drawing and logical coordinate systems in verovio. In the drawing system, the `y` axis starts with `0` at the **top** and increases moving down. The logical system starts with `0` at the **bottom** and increases moving up. In `view_element.ts`, function `DrawAccid` and `DrawDivLine` mixed up the two systems for `uly`, thus m

[2021-12-29 17:03] #720 closed

[2021-12-31 16:26] yinanazhou commented on #722
I somehow have trouble reproducing this issue. @JoyfulGen, could you please upload an example file?

[2021-12-31 19:38] yinanazhou commented on #699
The issue is solved in the latest merge. Clicking anywhere on the staff will have the option to split or delete a staff. The merge option only appears when more than one staves are selected. I will close this issue.

[2021-12-31 19:38] #699 closed

[2022-01-03 16:32] JoyfulGen commented on #722
[005r_neume_grouping_examples.mei.zip](https://github.com/DDMAL/Neon/files/7802924/005r_neume_grouping_examples.mei.zip)

This is folio 005r, from Einsiedeln (it looks ugly, because I only worked on the two top staves, sorry). There are a few neumes that I managed to get reproducible results with:

- The first pes on the first staff (it's light orange) --> Using the "Neume Component" selection, se

[2022-01-03 22:34] annamorphism commented on #722
@JoyfulGen I still can't seem to reproduce the issue with the pes... The problem with the other neumes is that, before grouping, some neumes are "inserted" into others (e.g. the orange torculus stretches across the other two neumes) but the neume grouping attaches the neumes from left to right (so a similar issue to #680 and #657). One fix would be to check the coordinates of the neumes every time

[2022-01-03 22:47] annamorphism commented on #722
update: I managed to reproduce the pes problem (it's also true of the pes inside the syllable "em"). Both puncta in the affected pes have the same ulx value, and it seems like they are being ordered randomly (for me it's not strictly alternating--I don't think it has to do with where you move it). Solution: puncta with the same ulx value should be consistently ordered bottom to top, so high uly to

[2022-01-04 14:55] JoyfulGen opened #741 "Neon can't render two obliques in a row within the same neume"
In Einsideln, there are neumes such as the little monster below (folio 005r) where two obliques are stuck together. (I don't think there are any of these in Salzinnes, which is why the issue has never come up.)
<img width="81" alt="Two obliques in a row" src="https://user-images.githubusercontent.com/83373378/148076223-9388a540-2d04-44d1-84b5-74794f7cf7df.png">

I tried to input it in Neon as I sa

[2022-01-04 23:08] yinanazhou commented on #722
Hi @JoyfulGen, I have pushed the changes. Could you please help me test it and confirm that the issue is solved and close it?

[2022-01-05 14:51] JoyfulGen commented on #722
I tested the fix in folio 005r and corrected all of 005v and the issue didn't come up once! I'm therefore going to close the issue. Thank you @yinanazhou!

[2022-01-05 14:51] #722 closed

[2022-01-05 19:13] yinanazhou commented on #741
Hi @JoyfulGen, I have pushed changes. Now Neon can display more than one obliques within the same neume. The change in the order of the neume components is because Neon sorts neume components by the x coordinate, and in this neume, after toggling, the first neume component in the second oblique is on the left of the second neume component in the first oblique. This part of the issue will be solved

[2022-01-06 13:47] JoyfulGen commented on #741
I can confirm that Neon can now display two obliques in a row in the same neume! Exhibit A:
<img width="95" alt="Two obliques in a row fix" src="https://user-images.githubusercontent.com/83373378/148392053-7e79d895-f478-458e-ae11-09545b51ff2c.png">

However, the neume looks good as long as I don't touch it anymore. Moving either a part or the whole of it makes it go wonky again:

https://user-imag

[2022-01-07 01:51] annamorphism opened #745 "ungrouping neumes lose components"
Some neumes seem to delete neume components when ungrouping; for example, the pink neume below, when ungrouped, loses several component neumes (and the two remaining components are still grouped as pink!).

<img width="293" alt="image" src="https://user-images.githubusercontent.com/67451875/148477834-f6fb1ea2-25af-4392-93a5-d73226080335.png">
<img width="287" alt="image" src="https://user-images.g

[2022-01-07 15:20] yinanazhou commented on #741
Hi @JoyfulGen, I've just pushed the changes. Now you should be able to have more than one oblique in a neume and move them as you like. Please close this issue if it functions well. Thank you!

[2022-01-07 17:06] yinanazhou commented on #745
Hi @annamorphism, I couldn't reproduce this issue. But I did notice a potential ungroup issue when `ligated="false"`. I have fixed it and pushed the changes. Please let me know if this issue is solved in the latest merge.

[2022-01-07 23:47] annamorphism commented on #745
@yinanazhou the original issue now seems to be resolved! But now something about ligated="false" seems to be triggering an issue like #641 again.

[2022-01-07 23:58] annamorphism commented on #641
this issue is back! Seems like previously ligated neumes (i.e. where ligated="false") only want to ligate with other previously ligated neumes, but not any others (i.e. that don't say either ligated =true or false in the file). Likewise neume components that haven't ever been ligated will only ligate with each other, and not components from a previous ligature.

[2022-01-10 13:25] JoyfulGen commented on #741
Everything works perfectly! Closing the issue now.

[2022-01-10 13:25] #741 closed

[2022-01-10 18:51] yinanazhou commented on #745
Hi @annamorphism, I have pushed the changes. Could you please test it and close both issues if it is successfully solved? Thank you!

[2022-01-10 20:23] annamorphism commented on #745
Yes, it seems to be solved! closing issue.

[2022-01-10 20:23] #745 closed

[2022-01-10 20:26] annamorphism commented on #641
Fixed in most recent version.

[2022-01-10 20:26] #641 closed

[2022-01-11 13:51] JoyfulGen opened #749 "Feature request: to have the outline of invisible bounding boxes appear when I select their corresponding syllable"
This request is related to issue https://github.com/DDMAL/Neon/issues/656

In the issue linked above, we determined that if a bounding box (BB) is "flipped," so if its upper and lower or left and right coordinates are inverted, it disappears. Once the BB is flipped, selecting its corresponding syllable doesn't make it appear. The only way to find it again is to click and drag over the exact spot t

[2022-01-13 00:45] yinanazhou commented on #749
Hi again @JoyfulGen, I have pushed the changes for the `y` coordinate of `bbox`. Now the `bbox` should not be flipped if the order is not the same as `NC` order or the `bbox`es are not vertically aligned. Next, I will work on the outline of flipped `bbox`. Please let me know if the changes function well. Thank you!

[2022-01-13 14:56] JoyfulGen commented on #749
My first tests indicate that the fix works perfectly! I'm now correcting an entire folio to see how it holds up; I'll keep you updated.

[2022-01-14 04:39] yinanazhou commented on #749
Hiiii @JoyfulGen, Gaby and I have fixed the flipped bbox issue. Please let me know if it works!

[2022-01-17 13:05] JoyfulGen commented on #749
It does work! I've tried flipping the bounding box around in all sorts of ways and it appears that the invisibility issue is completely gone; the box is always visible, no matter what I do! As usual I'll correct a complete folio and keep you updated.

[2022-01-18 19:41] yinanazhou commented on #676
Hi, I found that in polio 079r, the `follows` attribute of the selected syllable cannot be found in the mei file, which makes Verovio cannot find the corresponding syllable. If this mei file is generated by Rodan, this needs to be fixed in the `mei-encoding` job in Rodan. I need help from @timothydereuse to confirm.

[2022-01-18 20:11] yinanazhou opened #753 "Missing bbox when untoggle linked syllables"
When undo `toggle-linked-syllables` in neon, the bbox of the second syllable disappears, as shown in the following screenshot.

![image](https://user-images.githubusercontent.com/74484576/150011055-6e05a350-fc19-4b5f-94a4-713b07ddfc40.png)

[2022-01-18 20:31] yinanazhou commented on #753
I checked the `SetText` function in `editortoolkit-neume.cpp` in Verovio. The `bbox` position and size are set to be the exactly same as the neume component, so the `bbox` is actually covered by the neume component. I have made some changes and made the `bbox` visible after untoggling.

[2022-01-18 20:31] #753 closed

[2022-01-20 15:51] timothydereuse commented on #676
From what I remember, the MEI generated by the `mei-encoding` job doesn't include the `follows` or `precedes` attributes at all, and shouldn't need to to be valid MEI - this is a flag added by neon itself, internally, I think. I believe that this is because Verovio requires each staff to be broken up in the MEI file, and this creates problems when you have a single syllable that spans multiple sta

[2022-01-23 17:37] GabbyHalpin commented on #723
We have come up with a temporary fix that will allow for the Einsiedeln files to be checked and declared valid or invalid in browser. Rather than `TOTAL_MEMORY: options.TOTAL_MEMORY, ` , we changed it to `TOTAL_MEMORY:26777216` to be able to accommodate the additional space needed. Something that is not hardcoding would be preferred, but we will look into that later.

[2022-01-26 15:59] JoyfulGen commented on #676
Using the info in Tim's comment, I found the specific steps that cause this issue. If two syllables are linked across a staff break and I toggle them, there's no issue--both remaining syllables have options. However, if I delete the neume that composes one half of the syllable, the other half of it doesn't have options anymore. Here's an illustration, from folio 013r:

https://user-images.githubus

[2022-01-26 17:05] annamorphism commented on #676
@JoyfulGen that is a solution that works, but it would be better if the syllables unlinked upon deletion...I thought Juliette implemented a fix for this issue a while back that deleted the precedes/follows attributes and unlinked the syllables when deleting something, but it seems like it isn't happening properly somehow.  @timothydereuse
c.f.
https://github.com/rism-digital/verovio/commit/1bc3376

[2022-01-26 19:03] yinanazhou commented on #676
@annamorphism, thank you for the reference! Somehow the fix was not in DDMAL/verovio. I have already added the fix in our verovio and merged the changes. @JoyfulGen, could you please test it and close this issue if it works well?

[2022-01-27 13:27] JoyfulGen commented on #676
Looks like it works! If I delete a neume that's part of a linked syllable, the other syllable now has options. I'll confirm later this morning.

[2022-01-28 21:27] yinanazhou commented on #696
The second case would be fixed in the latest merge. In the first case, I was able to merge the two syllables, but the `bbox` of the first syllable is somehow invisible. I have checked the `bbox` coordinates, it's not flipped. @annamorphism and @JoyfulGen, does this issue happen often recently?

[2022-01-30 15:28] yinanazhou commented on #723
Yesterday I tried to build Verovio with the following command.

 `w` enables WASM compiling. At first, it worked well with einsiedeln. But to be sure, I tried to build without w and then with w again, it reports an error:

wasm-ld: error: libverovio.a(pugixml.cpp.o): undefined symbol: typeinfo for std::bad_alloc
wasm-ld: error: libverovio.a(pugixml.cpp.o): undefined symbol: typeinfo for std::bad_a

[2022-01-31 13:22] JoyfulGen commented on #696
I'm having trouble uploading this to browser Neon for some reason, so I can't be sure, but I think the bbox you're talking about @yinanazhou is invisible because it doesn't have text associated to it. I think if you enter text to replace the little diamond, the bbox will appear.

[2022-01-31 16:03] JoyfulGen opened #759 "Request for a neume-splitting tool"
This is sort of related to https://github.com/DDMAL/Neon/issues/694. That issue is still open, but in my comment I mentioned that the drop-down neume menu could be a useful feature for splitting neumes in two. At the moment, splitting a neume in two requires us to ungroup the entire neume and then group the neume components of the neumes we want. Here's an illustration of that:

https://user-image

[2022-02-01 14:26] JoyfulGen opened #760 "Bounding boxes without text sometimes invisible until text is input"
Now that https://github.com/DDMAL/Neon/issues/749 is fixed, all bounding boxes always exist and behave normally. However, sometimes when a syllable doesn't have text associated to it yet, its bounding box is invisible. So far I've found three situations where this happens:
- When clicking on the UNDO button, all bounding boxes with no text disappear;
- If you save the folio, go to the browser Neon

[2022-02-02 13:58] JoyfulGen opened #761 "Neon allows user to ungroup syllables that are already ungrouped--results in oddities"
If you select two syllables in Neon browser, you have the option to merge them, but not ungroup them. This makes sense, as the two syllables are already ungrouped. However, if you select a third syllable, the option to ungroup appears. If you attempt to ungroup these already-ungrouped syllables, the first syllable remains unscathed, but the other two become doubled. This makes the file invalid. Th

[2022-02-03 16:06] JoyfulGen commented on #709
Update: the divisio maxima has been implemented in Neon browser and it works perfectly.

[2022-02-03 16:14] JoyfulGen commented on #701
Update: the reversed virga has been tested in browser Neon and it works perfectly.

[2022-02-03 16:25] JoyfulGen commented on #700
Whoa, I think this explains a few invalid folios I had that I couldn't figure out... I just experimented with it and I got the same results. You can tell a glyph is being added, because the other glyphs change colour (see below for pretty video). This is a cool discovery! The problem is that once the glyph is input into the white space around the facsimile, it's not visible in any way, so you can'

[2022-02-03 16:27] JoyfulGen commented on #697
This false-positive issue is back in browser Neon. Every file I is invalid when I open it, then becomes valid after I make any change.

[2022-02-03 16:28] JoyfulGen commented on #696
I believe this issue was fixed here https://github.com/DDMAL/Neon/issues/676, so I'm now closing it.

[2022-02-03 16:28] #696 closed

[2022-02-03 16:34] JoyfulGen commented on #678
As this is a duplicate of https://github.com/DDMAL/Neon/issues/661 and that flats can now be input manually, I'm going to close this issue.

[2022-02-03 16:34] #678 closed

[2022-02-03 16:40] JoyfulGen commented on #660
A small note: In Einsiedeln, a climacus is almost always virga+inclinatum+inclinatum, so in that manuscript the three puncta all have to be changed.

[2022-02-03 16:44] JoyfulGen commented on #659
@annamorphism I know this was a while ago, but this looks to me like what happens when the text file and folio image that were assigned in the OMR process don't match. When the text file is wrong, Neon does its best to assign syllables, but none of it matches, so we end up with these super long syllables (I've made the mistake myself a couple of times and have paid for it dearly). Could that be th

[2022-02-03 16:48] JoyfulGen commented on #657
This appears to be a duplicate of https://github.com/DDMAL/Neon/issues/722. Since that issue was fixed and closed, I'll close this one as well.

[2022-02-03 16:48] #657 closed

[2022-02-03 16:49] JoyfulGen commented on #656
I believe this issue was fixed here https://github.com/DDMAL/Neon/issues/749. I haven't encountered it again since, so I'm closing it.

[2022-02-03 16:49] #656 closed

[2022-02-03 19:08] annamorphism commented on #659
@JoyfulGen That seems to be part of it. This text goes across multiple pages, and it looks like although it successfully "picks up" the second page of text from where it left off the first, the third is a mystery until the next chant begins, halfway down the page.
So we need something to deal with a chant text that goes across >2 pages and correctly assign it to the right page.
But usually Neon do

[2022-02-03 19:57] annamorphism commented on #659
On the page itself, we appear to have 8 syllables and one blank text marker, which is connected to the orange syllable (if you hover over the marker itself), the orange and blue (if you click on the orange), or orange, blue, and green (if you click on the blue.) The others aren't associated with any "text" at all.
![image](https://user-images.githubusercontent.com/67451875/152417291-3f92e25f-6c30-

[2022-02-06 17:56] yinanazhou commented on #723
I went through the issue all over again. It seems to happen within `xmllint.js` and has nothing to do with verovio. `xmllint` cannot process large files (https://knowledgebase.progress.com/articles/Article/P11630). The best solution I found so far is to validate XML with a hardcoded TOTAL_MEMORY value (https://github.com/kripken/xml.js/issues/12) like we did previously.

[2022-02-07 13:22] JoyfulGen commented on #649
Somewhere along the line, maybe when https://github.com/DDMAL/Neon/issues/641 or https://github.com/DDMAL/Neon/issues/724 were fixed, this issue was fixed as well. I'm closing it now.

[2022-02-07 13:22] #649 closed

[2022-02-07 13:36] JoyfulGen commented on #647
This issue is a duplicate of https://github.com/DDMAL/Neon/issues/675, which has been successfully fixed and closed. Closing it now.

[2022-02-07 13:36] #647 closed

[2022-02-07 13:52] JoyfulGen commented on #645
This is also true when trying to move the custos; to get it to land on, say, the third staff line, you have to drag it to the fourth (I exaggerated the tilt of the staff to illustrate).

https://user-images.githubusercontent.com/83373378/152800664-645ee830-b7a7-42c7-b975-5df78cee54d2.mov

[2022-02-07 13:53] #644 closed

[2022-02-07 14:18] JoyfulGen commented on #642
Just for fun, I tested this in Einsie 019v. I grouped the neume components B and C (puncta) of the light blue neume below:
<img width="620" alt="019v Secret yellow neume" src="https://user-images.githubusercontent.com/83373378/152803753-738b1fd7-8bd9-4cd9-ab1f-37432ab6143a.png">
As a consequence, the colours of the neumes following the light blue boy changed. There's now a yellow neume missing bet

[2022-02-07 14:38] JoyfulGen commented on #682
Since this is a duplicate of https://github.com/DDMAL/Neon/issues/650, I humbly suggest to anyone interested that you consult that one; it's much better documented.

[2022-02-07 14:39] #626 closed

[2022-02-07 16:45] JoyfulGen commented on #650
I can confirm that when there's a clef change in the middle of a long syllable, once you get the neumes to behave Neon ignores the second clef and labels all the notes based on the first clef. I can find no way to fix this; if I want the syllable to stay whole, the second clef will be ignored.

An illustration (same situation as @annamorphism's): the pitches of the pes that my cursor is hovering o

[2022-02-07 19:06] annamorphism commented on #650
I think there was verbal discussion around this issue when I encountered it, and the problem is that syllables must remain unbroken (similar to the issue of syllables broken by a new staff).
That suggests the the solution could be similar, i.e creating a "linked" syllable over a clef change. Right now you can only link syllables with a staff break between them, but if the trigger were instead the

[2022-02-10 21:39] annamorphism opened #762 "staff break moving when downloading"
In some circumstances, downloading the MEI file seems to result in an incorrect MEI file, which then has many (hard-to-correct) mistakes after uploading. For example, after folio 18v of Einsiedeln had been corrected, downloaded, and re-uploaded, the result looked like this:

![image](https://user-images.githubusercontent.com/67451875/153500219-13137ba5-cb2b-4ba9-a085-7cfd0c28577d.png)

In the MEI

[2022-02-14 16:48] JoyfulGen commented on #762
Additional information: it looks like the problem arises when there are divisios within a syllable that is also linked with the syllable on the next staff (which explains why we never encountered this problem in Salzinnes). From what I understand, when there are divisios within one syllable, they all appear after the closing `<syllable>` in the MEI file, like so:
<img width="266" alt="Divisios in

[2022-02-14 17:34] yinanazhou commented on #761
Hi @JoyfulGen, I have pushed the fix. Could you please test it and let me know whether it works? Thanks!

[2022-02-14 17:35] yinanazhou commented on #759
Hi @JoyfulGen, I have pushed the new feature about this. Could you please test it? Let me know if anything needs a fix! Thank you.

[2022-02-14 20:19] yinanazhou commented on #762
This issue is caused by the insert action of divisio. When one insert a divisio, the divisio is added as a child of the `layer` element. I need some support from @annamorphism and @JoyfulGen, where would a divisio appear? In most cases, it's a child of `layer`. In this case, it's a child of a `syllable`. Is there any other possibilities?

[2022-02-14 20:20] yinanazhou commented on #762
In addition, the same issue may also happen to `accid`. What are the possible positions of `accid`?

[2022-02-14 21:29] annamorphism commented on #762
@yinanazhou I think the divisio can only be a child of layer and syllable; it wouldn't make sense to divide a neume with a div-line, for example. On the other hand, you might be able to have multiple accidentals in the same syllable applying to different neumes (I don't think it happens much, but it could in theory.) Does that help?

[2022-02-15 13:05] JoyfulGen commented on #761
I'm on it! Update coming soon.

[2022-02-15 13:05] JoyfulGen commented on #759
I'm on it! Update coming soon.

[2022-02-15 13:28] #761 closed

[2022-02-15 16:47] #759 closed

[2022-02-16 23:21] annamorphism commented on #676
Looking at @JoyfulGen 's MEI it looks like the issue is that syl1 has a new xml id when the new neume components are added, but syl2 still "follows" the old ID--which is making it have no options, similar to what was happening when linked syllables were deleted.
What's weird is I don't see the linked syllable in the "before" file--"follows" is only in the "after" file, when it's attached to the wr

[2022-02-17 15:13] napulen opened #767 "Garbage Collection?"
Without reading much into it, there is this: https://github.com/WebAssembly/gc

It might be relevant for the memory leak problem found in Neon.

I'd start by looking at the Neon source code and seeing what operations in it could potentially be hoarding allocated memory.

[2022-02-17 16:38] yinanazhou commented on #676
I tested the toggle function, and I found that after toggling, the two syllables are merged into one. For example, in this case, the two syllables are merged and the `<sb>` and `<clef>` element is inside the first syllable. The `@precede`s and `@follows` attributes went missing, probably because the original syllables are now gone.
![image](https://user-images.githubusercontent.com/74484576/154526

[2022-02-17 18:06] annamorphism commented on #676
@yinanazhou I think this is correct, yes!

[2022-02-21 16:49] yinanazhou commented on #762
I have already merged the changes. Now you should be able to insert an accid or divisio inside a syllable. Please let me know if it fixes the issue! Thanks!

[2022-02-21 19:00] annamorphism opened #769 "Divisio should be red when selected"
Currently it is impossible to tell if a div-line has been selected, as it stays black. It should turn red like all the other selected elements.

[2022-02-21 19:12] annamorphism commented on #769
Wait, now it is turning red. But it wasn't before! Disregard.

[2022-02-21 19:12] #769 closed

[2022-02-21 19:24] annamorphism commented on #762
@yinanazhou you can now put div-lines inside a syllable BUT putting accid inside a syllable leads to an invalid MEI flag.

[2022-02-21 19:35] yinanazhou commented on #762
Hi @annamorphism, this is in the MEI schema. To make accid a valid child of syllables, I will need to modify the MEI schema. I will have to make sure that accids do go into the syllable. Could you please provide an example folio where accid is in the syllable?

[2022-02-21 19:38] annamorphism opened #770 "BBoxes with negative coordinates"
Sometimes the BBox generated by the OMR process has a negative coordinate, giving an invalid MEI file. This is not so hard to fix, if one spots the error (and there aren't any additional issues on the page confusing matters!) but it seems like the generated BBoxes should be part of valid MEI in the first place, before the user correction step.

[2022-02-21 20:06] annamorphism commented on #762
@yinanazhou I was working with the (invalid) generated file for 26r of Einsiedeln, which has an accidental as the child of the syllable. BUT in that case you don't *need* it to be--there's nothing about the situation preventing the accidental from being up a level. I can look around for a case where it needs to be a child of syllable.

[2022-02-21 21:06] annamorphism commented on #762
@yinanazhou I recommend folio 17v, which has a flat in the middle of a syllable:
![image](https://user-images.githubusercontent.com/67451875/155025796-94b9cdf6-757e-495a-91df-a376b389f262.png)

and also 12r, where there is a flat as part of a syllable linked across lines.
![image](https://user-images.githubusercontent.com/67451875/155025935-f2884839-73c5-4f2e-a807-f2dbc0ede27f.png)

 Right now 17v

[2022-02-21 21:45] yinanazhou commented on #770
Could you please provide any example folios that have this issue? Thanks!

[2022-02-21 22:11] yinanazhou commented on #762
@annamorphism I checked 017v. The MEI file was valid at first because the `accid` element is not inside the `syllable`. But when you insert it again in Neon, Neon automatically detects that it should be inside the syllable, so the accid is inserted inside the syllable, thus making the MEI file invalid.

I will use this folio as an example to make a pull request to modify the class of `accid` in me

[2022-02-22 13:15] JoyfulGen commented on #762
Inserting a divisio in a syllable appears to work! If I input a divisio between two neumes that are part of the same syllable, it becomes part of that syllable. We can now toggle syllables that contain divisios!

I think, however, that this only works if the divisios are input into the syllable after it's been grouped. If I do the opposite, by merging syllables around divisios that are already on

[2022-02-22 14:42] JoyfulGen commented on #762
I've found an issue with the divisio in syllables. If a divisio is inserted between two neumes that are part of the same syllable, the fix works perfectly. However, there are situations (such as in the screenshot below) where the syllable at the end of a staff is followed by a divisio, but no other neume after that. In that situation, since there's only a neume before the divisio and not after, th

[2022-02-22 22:38] annamorphism commented on #770
@yinanazhou From 26r:
![image](https://user-images.githubusercontent.com/67451875/155231367-21b54230-9d19-406f-8a63-fffca61f1c76.png)

[2022-02-24 16:05] JoyfulGen commented on #762
I've found another little problem with divisios that are children of `syllable`. If I ungroup a syllable that contains divisios, each of those individual divisios becomes its own syllable, with its own bounding box and text box. This should not happen, because a single divisio can't be sung or contain text. A demonstration where, after I ungroup the giant syllable, when I click on a divisio, its b

[2022-02-24 16:54] annamorphism commented on #661
Question on this feature: is it possible to have the accidental appear on the correct line, rather than just the top one?

also, minor point, but the menu for users should say "change accidental" (or "change accidental shape"), rather than "accid".

[2022-02-24 20:27] yinanazhou commented on #661
Hi @annamorphism , I have already changed the menu.

As for the accidental position, it is quite complicated. In MEI encoding, the position (pitch) of the accidental is defined by the `@corresp` attribute, which gives the `@xml:id` of the neume component that the accidental is attached to. But in the manuscript, we don't know which neume component the accidental is attached to.

One possible solut

[2022-02-24 21:20] annamorphism commented on #661
@yinanazhou does it help to know that in virtually all cases, the accidental should be on the pitch B/B-flat? In some cases this alone will be unambiguous, but just in case, the nearest neume on a B should clear things up.  So a possible "cheat" might be to default to the accidental being on B instead of on the top line (like now).  If it *has* to be given with an xml id, I guess you could look fo

[2022-02-25 03:57] yinanazhou commented on #762
Hi @JoyfulGen , to make divLine automatically added into a syllable, I will need to modify the mei-encoding job in Rodan. For now, I propose a new option called "Insert to nearest syllable" for accidentals and divLines. The general workflow is, when you open a new mei file in neon, all the divLines and accidentals are not in the syllables. You will need to click-select them, and click the `Insert

[2022-03-01 15:35] JoyfulGen commented on #762
It works perfectly so far! I'm now correcting the folios I'd already worked on that had a divisio within a toggled syllable (for reference: 006r, 007v, 008r, 010r (2), 011v, 012r (3), 012v (2), 016r (2), 018r, 020r). I'll update you when I'm done!

[2022-03-02 19:45] annamorphism commented on #676
Thanks @JoyfulGen ! This is a much more detailed explanation than I had above. I think we want the syllables to remain toggled when we add neumes, if possible, but with updated xml ids.  @yinanazhou is that what you were imagining too?

[2022-03-03 03:52] yinanazhou commented on #676
Thanks @JoyfulGen, sorry I misunderstood the request. This should be an easy fix. I will let you know when I'm done.

[2022-03-03 15:20] JoyfulGen commented on #762
UPDATE for @annamorphism and @yinanazhou

So I think this issue has actually been fixed by https://github.com/DDMAL/Neon/issues/676?!?

I've been messing around with the above-mentioned folios and I realized that toggling a syllable with a divisio inside it now always works, regardless of whether that divisio is a child of `layer` or `syllable`. I believe this is because it used to be that when a

[2022-03-03 19:08] annamorphism commented on #762
@JoyfulGen you might be right--I think we might  not need the divisios to be part of a syllable, if the toggling works. I'm not as sure about accidentals, because they have (or can have) an effect on the syllable in a way divisios don't.

[2022-03-06 22:18] yinanazhou commented on #762
Hi @annamorphism and @JoyfulGen , I've pushed the changes to automatically update `@precedes` and `@follows` after grouping neumes. Both this issue and issue #676 should be fixed. Please let me know if anything unexpected happens.

I've deleted the function that automatically inserts divLine/accidental inside syllable. I didn't delete the `insert to nearest syllable` feature because MEI encoding i

[2022-03-07 16:48] JoyfulGen commented on #762
UPDATE: I was able to fix all of these without any issues. There are no syllables containing only divisios, divisios/accidentals don't make files invalid, and the `insert to nearest syllable` feature works!

[2022-03-07 16:59] JoyfulGen opened #777 "Request for error message when trying to make a ligature out of something other than two puncta"
In Neon, the `toggle ligature` function only works if the two selected glyphs are puncta. This is fine and great!
It follows that if you accidentally try to toggle, say, a reversed virga with a punctum, it won't work and nothing will happen. However, a message will appear in the top-left corner saying that the ligature has been toggled. This is slightly confusing. It would be easier to figure out

[2022-03-07 23:41] yinanazhou commented on #727
Hi @annamorphism , I've tested the changes using a file, in which I deliberately delete all the ncs in a neume, and Neon can successfully detect and delete the empty neume. The colour order is also correct.

However, I'm not so sure about why an empty neume will be generated, maybe a side product of several group/ungroup actions.

[2022-03-08 16:55] JoyfulGen opened #779 "Association of a neume to a staff can be wrong if staves very slanty"
If the staves on a page are very tilted, Neon thinks that neumes placed at the end of a staff on its bottom line belong to the staff below it. Trying to re-associate it to the nearest staff doesn't work, because Neon thinks the nearest staff is the staff below. To make it work, one has to move the offending neume to the middle of its staff, re-associate it, and move it back. A demo, where you can

[2022-03-08 23:35] yinanazhou commented on #777
Hi @JoyfulGen , I've pushed the changes for this issue. Could you please test it? Thanks for pointing out this issue!

[2022-03-08 23:35] annamorphism commented on #777
alternatively, it wouldn't be a bad thing to allow reverse puncta to be in a ligature...

[2022-03-08 23:41] yinanazhou commented on #777
@annamorphism , I've tried it, but it looks weird in Neon. What about automatically changing reverse puncta to puncta when toggling ligature? This will delete `@tilt`, and add `@ligated`. I can also do this for licquescents.

[2022-03-08 23:49] yinanazhou commented on #777
Oops, my bad. I will work on this tomorrow! Just to make sure, what kind of `nc` should be successfully ligated, and what should not? Do we need the `toggle ligature` option for any combinations of two `nc`s?

[2022-03-08 23:54] annamorphism commented on #777
@yinanazhou I like that solution. So any two adjacent descending neumes (of any shape) could have "toggle ligature", and then they would turn into a punctum with ligated=yes in the file, correct?
We don't NEED every combination to be a ligature (the user can always change things to be a punctum themselves, after all.) But I don't think it would be a bad thing either.  And reverse-virga + punctum w

[2022-03-09 00:01] annamorphism commented on #777
basically we want one of the following things:
1) If user selects two puncta, they can "toggle ligature" and it works; nothing else gives this option.  [[this is the original I think, when there were fewer note shapes]]
OR
2) If user selects two (adjacent) ncs, they can press "toggle ligature" but it only works if they are puncta; otherwise it returns a "ligature failed" and the neumes stay put. [

[2022-03-09 00:12] annamorphism commented on #641
It's baaaack! Einsiedeln 40v:
![image](https://user-images.githubusercontent.com/67451875/157347026-5c4b1d39-ea7b-45d8-8ecd-1a312d02dfaa.png)
The neumes in question LOOK like you can toggle them:
![image](https://user-images.githubusercontent.com/67451875/157347400-0e37fe59-d55b-4059-b9e4-2f43300b6c02.png)
But because one is "false", you can't....
![image](https://user-images.githubusercontent.com

[2022-03-09 13:18] JoyfulGen commented on #641
I think this is related to https://github.com/DDMAL/Neon/issues/777. That "false" appears when you try to toggle two `nc`'s that aren't both puncta, as is the case in your example. I think when https://github.com/DDMAL/Neon/issues/777 is fixed, this should be fixed too...?

[2022-03-10 03:36] yinanazhou commented on #777
Hi @annamorphism and @JoyfulGen , I've implemented option (3). It turns out frontend Neon could not successfully distinguish the shapes of ligature, virga, or inclinatum. Therefore, I moved the `isLigature` check to verovio. Issue #641 should also be fixed by now. Please let me know if anything unexpected happened.

[2022-03-10 15:52] JoyfulGen commented on #777
I tested the fix, it works very well. I couldn't find any strange behaviours! Closing the issue now.

[2022-03-10 15:52] #777 closed

[2022-03-11 20:19] yinanazhou commented on #770
Hi @timothydereuse , this issue is a rodan issue. I went over the MEI-encoding code about the negative coordinate. It seems this is caused by the `@staves` sent to the `build_mei` function. Would it be better to fix this in the pitch finding job? Or, I can also add a check of the coordinates in the `generate_zone` function. Please let me know what you think. Thanks!

[2022-03-12 22:23] timothydereuse commented on #770
The pitch finding job doesn't edit the coordinates of anything, to my knowledge, it just takes in coordinates of the staves and the neumes and figures out what the resulting pitches should be.

What types of element have these negative coordinates? Are they the staves themselves? In that case it might be in the "Miyao Staff Finding" job - otherwise, it may be in the interactive classifier. I think

[2022-03-16 17:37] JoyfulGen opened #783 "Toggled syllables remain partially toggled when interacted with, results in very strange behaviours"
It's easiest I think to explain this with an example of a strange behaviour:

In folio 271r, there's a big syllable on staff one (syllable 1) toggled with a big syllable on staff two (syllable 2) (the OMR here is sort of a disaster, please do not be alarmed). Exhibit A:

<img width="820" alt="271r toggled syllables 1 and 2" src="https://user-images.githubusercontent.com/83373378/158651069-82d9406c

[2022-03-17 12:26] JoyfulGen opened #784 "MEI file is modified when uploaded to browser Neon, results in toggle insanity"
This issue is directly related to https://github.com/DDMAL/Neon/issues/783.

I realized when working on it that when I uploaded a file to Neon, what I saw didn't look like the MEI file that I had uploaded. Because of https://github.com/DDMAL/Neon/issues/783, after correcting the neumes in the two first staves of 271r, the toggles were already very strange, with many syllables only partially toggle

[2022-03-17 17:52] yinanazhou commented on #783
Hi @JoyfulGen and @annamorphism , I have merged the changes to automatically untoggle linked syllables when grouping neumes inside them. Also, a new `bbox` will be assigned to the second syllable. Please let me know if everything works as expected. Thanks!

[2022-03-17 20:28] yinanazhou commented on #770
I have checked the `generate_zone` function in MEI-encoding. It doesn't make changes to the `ulx` value so it might not be in MEI-encoding.

[2022-03-21 12:23] JoyfulGen commented on #783
It works very well so far! Will update you after correcting complete folios.

[2022-03-21 15:35] JoyfulGen opened #786 "Divisio is duplicated when I... move a neume? (details still missing)"
In folio 270v, syllable "bam" has two divisios in it right out of OMR; one at the beginning, and one at the end. For some reason, when I move the first divisio towards the neume, a duplicate is created on the staff above it and Neon loses its mind. Here it is:

https://user-images.githubusercontent.com/83373378/159295054-3e6d3ac3-3add-4b3d-b4a4-c49e9d72c5c0.mov

For some reason, the consequence of

[2022-03-21 22:01] yinanazhou commented on #786
I've looked into it. It seems that Neon duplicated a divLine above the original divLine, and the two share the same @xml:id, so it reports a validity error. I'm still trying to figure out what triggered this behaviour. It does not happen to other divLines.

[2022-03-22 17:19] yinanazhou commented on #786
Hi @JoyfulGen, I think I've found what triggered this weird behaviour. This happens when the `divLine` or `accid` is inside the syllable and when I drag it to a different staff. Could you please test and confirm this?

I do notice that in the case of 270v, this issue happens when the staff is not changed. But I will solve the above case first, and see if the case in 270v is solved. Does this sound

[2022-03-22 20:29] yinanazhou commented on #786
Hi @JoyfulGen, I've pushed the changes. I added a check to the Drag action. When you move a divLine or an accid, Neon will check whether the element is still in the syllable's x-range. The syllable's x-range is defined as the upper left x of the first nc to the lower right x of the last nc in the syllable. If the element is not in this range, Neon will move the element outside of the syllable.

A

[2022-03-23 12:18] JoyfulGen commented on #786
Hi @yinanazhou, I tested the changes. I can confirm that if I move a divLine out of its syllable, Neon moves it outside of the syllable. However, this only works if I move the divLine out of the x-coordinate range of its syllable. If I move it directly above or below, it duplicates and creates the issue above. If I move it back, the duplicate disappears, but the file remains invalid. Would it be p

[2022-03-23 18:14] yinanazhou commented on #786
Hi @JoyfulGen, sure! I see where I missed. Will solve it tonight.

[2022-03-24 18:43] yinanazhou commented on #783
Hi @JoyfulGen, could you please confirm that this issue can be closed?

[2022-03-24 18:43] yinanazhou commented on #786
Hi @JoyfulGen, could you please confirm that this issue can be closed?

[2022-03-24 18:43] yinanazhou commented on #762
Hi @JoyfulGen and @annamorphism , could you please confirm that this issue can be closed?

[2022-03-28 12:19] JoyfulGen commented on #786
Yes, it works perfectly now! Closing the issue.

[2022-03-28 12:19] #786 closed

[2022-03-28 12:20] JoyfulGen commented on #783
I've encountered no problems, everything works very smoothly. Closing the issue now.

[2022-03-28 13:02] JoyfulGen commented on #762
I've found two small issues remaining, both related to the fact that divisios and accidentals are still being automatically inserted into syllables. The automatic insertion doesn't happen when I interact with the folio, but it's still happening when I upload a new file. It causes these issues:
-  When an accidental is part of a syllable, the file becomes invalid.
- Sometimes the automatic function

[2022-03-28 20:59] yinanazhou commented on #762
Hi @JoyfulGen, I'm having trouble reproducing the automatic insertion of divLine into syllables. Could you please provide more details about it?

[2022-03-29 01:45] yinanazhou commented on #762
Hi @JoyfulGen, I have pushed the changes for ungrouping when the syllable starts with a divLine or accidental. Ungrouping should be good now. I still cannot reproduce the automatic insertion when uploading issue though.

[2022-03-29 12:18] JoyfulGen commented on #762
Absolutely! The automatic insertion never happens if I'm the one adding divLines or accidentals. The issue I'm noticing is that when I upload a new file to Neon, some divLines are already inserted into syllables (I'm assuming this is due to an automatic function, but I may be misunderstanding, sorry!). Here's an example from folio 266v, which I captured without having interacted with the folio at

[2022-03-29 14:25] JoyfulGen commented on #676
This issue is fixed! Closing it now.

[2022-03-29 14:37] JoyfulGen opened #790 "First syllable sometimes lacks bounding box"
It sometimes happens that when I upload a new folio, its first syllable has no text and no bounding box. Usually, adding text makes an invisible bounding box appear, but in this case it does not. I don't know why this happens, but I know what the MEI looks like, so here it is:

Folio 264r is an example of this situation. Before uploading the file to Neon, the coordinates of the bounding box of the

[2022-03-29 21:34] yinanazhou commented on #762
Hi @JoyfulGen, I've failed to reproduce this issue both locally and in browser Neon. I first moved out all the divLines, and uploaded to Neon. But I could not reproduce the automatic insertion. Is it possible that the divLines are already inside syllables before uploading? Is the MEI file uploaded to Neon are the output of rodan jobs? If so, this might be in the MEI-encoding job.

Although I canno

[2022-03-30 12:28] JoyfulGen commented on #762
You're right, the divLines are already in the syllables before uploading! I'm sorry I missed that. I think solution 1 is ideal, because divLines that are actually supposed to be in syllables are quite rare, so adding them ourselves is no problem.

[2022-03-31 14:00] JoyfulGen commented on #727
It's back! So this has happened three times this week, but I'm quite sure it's generated by my actions on the file, rather than the OMR. The neume without nc's (let's call it nwnc for short) isn't in the straight-outta-OMR file and also if I reupload the modified file with the nwnc @yinanazhou's fix deletes it. I'm now trying to find the series of actions that causes the nwnc. Stay tuned.

[2022-04-07 15:08] JoyfulGen opened #792 "Obliques misbehave when grouped"
Sometimes, when I add puncta to an existing oblique (straight-outta-OMR), when I group the neume components the oblique goes wonky:

https://user-images.githubusercontent.com/83373378/162229399-e7ea7c80-8d37-4a2a-83a5-1c382123a572.mov

When this happens, using the neume selector to drag the oblique away fixes it instantly. You can then drag it back to its correct position and it's perfectly happy.

[2022-04-07 18:37] yinanazhou commented on #792
Update: I can reproduce the issue when the inserted ncs are in the same position as shown in the video (one before the oblique, and one after the oblique). One interesting thing is, if I only insert one before, or only insert one after, the issue doesn't happen. The issue may happen in the method where verovio determines which nc is the first nc of the oblique.

[2022-04-10 18:33] yinanazhou commented on #792
Hi @JoyfulGen, I have pushed the fix for this issue. I've tested with the example you provided, and the issue seems fixed. Could you please confirm and close this issue? Thanks!

[2022-04-12 12:09] #792 closed

[2022-04-13 12:26] JoyfulGen commented on #671
I don't know exactly how, but it looks like this issue was fixed along the way. I haven't encountered it in ages, so I uploaded the file above and, even though the neumes are still in the wrong order at first, the order corrects itself when I group them.

[2022-04-13 12:26] #671 closed

[2022-04-13 12:38] #681 closed

[2022-04-13 12:40] #682 closed

[2022-04-13 12:45] JoyfulGen commented on #727
I've just realized that https://github.com/DDMAL/MEI_encoding/issues/29 is a duplicate of this. It has a whole bunch more example files of this same issue, if anyone needs them.

[2022-04-13 12:52] #784 closed

[2022-04-14 12:31] JoyfulGen opened #794 "Neon blank for a couple of files (unifying factor yet unknown)"
When I upload them to Neon, the files of Einsie folios 262r and 266r look like this:
<img width="1440" alt="Blank neon" src="https://user-images.githubusercontent.com/83373378/163390231-b75405c3-a40a-4017-a42c-e549284c8c7e.png">
No matter how long I wait, the page stays blank and the MEI status stays at "unknown."
I tried the following things, but none of them worked:
- refreshing the page
- reupl

[2022-04-14 13:20] martha-thomae commented on #794
I opened the files in Oxygen and saw that both of them have some `<divLine>` elements within `<syllable>`, I don't know if this is common and also happens on other files that do work on Neon. But if this is not common, that might be the issue. There is one example in `266r.mei` with a huge `<syllable>` in lines 2314--2403 that has more than one `<divLine>` within.

[2022-04-14 14:19] JoyfulGen commented on #794
@yinanazhou implemented a new feature that allows the user to add a `divLine` to a syllable and it's been working fine so far, so I'm not sure that's the problem. Looking at that giant syllable, however, it has at least one `<sb>` inside it, which is very strange.
I think this issue has to do with https://github.com/DDMAL/Neon/issues/676, where we discussed the `<sb>` appearing within a syllable,

[2022-04-14 22:31] yinanazhou commented on #794
@JoyfulGen, are these files the direct output from the OMR process?

[2022-04-19 03:03] yinanazhou commented on #794
This issue is caused by the automatic check of `@precedes` and `@follows` when uploading files in Neon. Neon will automatically check whether `@precedes` and `@follows` are correct when `sb`, `custos` or `clef` are found inside `syllable`. However, in folio 262r, `sb` is found in `syllable` but the syllable has no `@precedes` or `@follows`, thus causing an error in uploading files, and you see a b

[2022-04-20 03:20] yinanazhou commented on #794
Hi @JoyfulGen, I've pushed the changes. You should be able to work on these files now.

[2022-04-20 12:07] JoyfulGen commented on #794
Indeed I can, thank you! I can also see the notification, so everything works great. Closing the issue now!

[2022-04-20 12:07] #794 closed

[2022-04-20 12:58] JoyfulGen commented on #727
I think I have something!! It looks like the nwnc issue is related to this one: https://github.com/DDMAL/Neon/issues/642. In that issue, @annamorphism discovered that if you group two neume components in an already fully grouped neume, it creates another neume within that same syllable, but that neume has no components. We didn't think it was a problem, because other than the colour order skipping

[2022-04-20 18:08] annamorphism commented on #727
Great sleuthing, @JoyfulGen! Yes, I agree the best solution is probably to make it so nothing happens when grouping neumes that are already grouped.

[2022-04-21 15:01] JoyfulGen opened #797 "When clicking on a ligature, option to "group neume components" appears (but not "toggle")"
This issue may be related to https://github.com/DDMAL/Neon/issues/727.

When one clicks on a ligature in Neon, the option appears to "Toggle ligature," which separates the ligature into its two puncta. However, it sometimes happens that when I click on a ligature, I only get a "Group neume components" option (that's what leads to https://github.com/DDMAL/Neon/issues/727).

Here's what's weird thou

[2022-04-21 15:04] JoyfulGen commented on #797
Here is proof: same lig, two options.
https://user-images.githubusercontent.com/83373378/164487805-b0273542-45ab-41b2-8910-b44be3039b91.mov

[2022-04-21 19:55] yinanazhou commented on #727
Hi @annamorphism and @JoyfulGen, I've pushed the changes.

[2022-04-21 20:27] yinanazhou commented on #797
I might found something. When you drag select the oblique, the "group neume components" option will show up.

[2022-04-25 12:48] JoyfulGen commented on #727
It works, thank you! Closing the issue now.

[2022-04-25 12:48] #727 closed

[2022-04-25 12:48] JoyfulGen commented on #797
I agree! I've just tested it and I get the same result.

[2022-04-25 15:41] JoyfulGen commented on #797
Small update: now that https://github.com/DDMAL/Neon/issues/727 is fixed this is much less of a pressing issue. Even if we do click on "group neume components," nothing happens, so it doesn't really matter. It's still a bit confusing though! And if the user doesn't know, it can be frustrating to drag and click several times and never get the "toggle ligature" option.

[2022-04-26 12:30] #688 closed

[2022-04-26 12:33] #706 closed

[2022-04-27 03:40] yinanazhou commented on #697
This is because the output of OMR is in MEI version 4.0.1, whereas Neon is updated to MEI version 5.0.0. Once you make a change in Neon, the file would be written by Neon, so the file would be updated to 5.0.0 and valid in Neon.

[2022-04-27 13:46] JoyfulGen commented on #646
The octave displacement is discussed here: https://github.com/DDMAL/Neon/issues/648. I'll close this issue now, since the custodes can be placed on any staff line.

[2022-04-27 13:47] JoyfulGen commented on #642
This issue has been fixed! Closing it now.

[2022-04-27 13:47] #642 closed

[2022-04-27 15:18] JoyfulGen commented on #704
The liquescents work perfectly in rodan_staging as well! Closing the issue now.

[2022-04-27 15:18] #704 closed

[2022-04-27 15:19] JoyfulGen commented on #701
The reversed virga works on rodan_staging too! Closing issue now.

[2022-04-27 15:19] #701 closed

[2022-04-28 14:21] JoyfulGen opened #800 "Syllable contains no neumes and no <facs>"
A certain series of actions in Neon created a syllable that contains no neumes and `<facs>` element:

<img width="398" alt="046r no neume no facs" src="https://user-images.githubusercontent.com/83373378/165772910-b7cef550-b0d9-4338-9a9a-b3748d1618e8.png">

This means that it's completely invisible in Neon and can't be interacted with at all. This empty syllable was definitely created by a series o

[2022-05-04 14:01] napulen commented on #767
Maybe this is not a memory leak problem but caching of different MEI file versions.

From @JRegimbal's presentation, it seems that whenever a `PUT` request fails, the intermediate MEI files are cached within the application (browser's cache?).

Recently, @JoyfulGen ran into an issue where Neon would take up to 4GB of RAM and be killed by the OS.

Maybe this memory consumption is related to the fal

[2022-05-04 14:01] napulen commented on #767
The way I understand it, the `PUT` request will always fail in the gh-pages version of the app, right? Maybe I am misunderstanding the whole thing.

[2022-05-04 16:26] JRegimbal commented on #767
@napulen no, you're correct. In the gh-pages version, it will always fail when a page is saved. It may be that this isn't saving to the database, but the cache entries or undo/redo stacks. The cache entry keeps a copy of every MEI file that's been loaded in memory, but shouldn't grow over time. The stacks maintain all the changes done in a session so undoing/redoing is possible and *will* grow.

[2022-05-06 03:34] yinanazhou commented on #800
Hi @timothydereuse, the output of the MEI encoding job already has empty syllables. Could you please look into this issue while updating python version?

[2022-05-06 03:36] timothydereuse commented on #800
yes, I think this would happen when no neumes are recognized above a syllable. will add this as an issue.

[2022-05-09 12:36] JoyfulGen commented on #800
I think there are actually two empty syllable situations going on. There are indeed empty syllables in the straight-outta-OMR file, but I don't think this is the same situation. The empty syllables coming out of OMR have a `<facs>` element, so they have a bounding box. Selecting that bounding box and deleting it makes that syllable disappear. In this situation, however, the empty syllable has no `

[2022-05-09 13:27] jinh0 opened #801 "Loading indicator after submission"
After you click "Submit" on neon-index, there is no indicator to the user that something is being processed.

The proposed solution is to make a loading indicator after submission.

[2022-05-09 13:44] yinanazhou commented on #800
Hi @JoyfulGen, could you please send me the file with the empty syllable that's created in Neon? Thanks!

[2022-05-09 13:49] JoyfulGen commented on #800
[CH-E_611_046r.mei.zip](https://github.com/DDMAL/Neon/files/8652277/CH-E_611_046r.mei.zip)
Strange syllable is "WHERE"

[2022-05-09 17:41] JoyfulGen opened #802 "Clef inserted in wrong place in MEI"
When the glyph at the beginning of a staff isn't identified as a clef in the OMR, there's a `<custos>` and an `<sb>` element in the MEI, but no `<clef>` element. This is fine, because the pitches of the neumes are determined with the default clef on the third line from the bottom and once the user adds a clef, the pitches are reevaluated if necessary.

However, it happened three times in Einsie 25

[2022-05-09 19:40] annamorphism commented on #802
@JoyfulGen does the clef always end up at that same spot in "domini" no matter where you tried to put it? or does it go somewhere at random?

[2022-05-10 02:52] yinanazhou commented on #800
Hi @JoyfulGen, I just found a series of actions that creates empty syllables, but with `<facs>`
For the syllable you labelled with 'WHERE', I found it in the straight-outta-OMR file, and:
1. insert neumes
2. group the neumes into a syllable
3. switch to select by NC and group the ncs after the divLine into a neume
4. click UNDO
This series of actions result in this file:
![image](https://user-imag

[2022-05-10 14:08] chetbae commented on #797
1. when drag-selecting selects just a ligature, `group neume components` appears instead of `toggle ligature`
2. same goes for when click-selecting within the bounding box of a ligature but not on the SVG element (symbol)

Working on a fix to make sure that `toggle ligature` is presented when only a ligature is selected.

[2022-05-10 18:40] jinh0 opened #804 "Saving user's display settings on localStorage"
It would be very convenient if every time I refresh the page, my display settings from my previous session, such as the zoom level and displaying text, persisted to this new session.

EDIT:

List of settings to be saved in localStorage:
- [x] Zoom setting
- [x] Glyph opacity
- [x] Image opacity
- [x] Highlight options
- [x] Display settings (bounding box, text, info)
- [x] Selection mode
- [x] Vie

[2022-05-10 18:41] jinh0 commented on #790
Huh, that is weird. I am able to replicate the bug. I see that when you download the edited file, the text is there but not shown on Neon. I will look into it further.

[2022-05-10 20:19] chetbae commented on #797
[clip 1](https://user-images.githubusercontent.com/48145854/167714594-b175ee0f-7e58-4383-9b97-12700bb5b6c9.mov)
[clip 2](https://user-images.githubusercontent.com/48145854/167714599-c2a642b0-a175-4d52-8932-c3ddab016f3e.mov)

@JoyfulGen is this the expected behaviour?

[2022-05-11 12:09] JoyfulGen commented on #797
@chetbae yes it is!! That looks totally perfect, thank you!

[2022-05-11 12:39] JoyfulGen commented on #802
Thank you @annamorphism! Thanks to your excellent question, I think I've found an important clue.

To answer said excellent question, the clef does end up in the same spot in "domini" every time I insert it. Turns out, that's because there's a straight-outta-omr (SOO) syllable in that word that the clef seems to be irresistibly attracted to. I checked the other place in the folio where that issue

[2022-05-11 16:29] annamorphism commented on #797
I agree with @JoyfulGen !

[2022-05-11 16:59] jinh0 opened #807 "Fix TypeScript typings throughout the project"
There are many instances of the `any`, `object`, and nullish types like `{}` being used throughout the project and should be replaced by more detailed typings to prevent any future bugs.

[2022-05-12 14:26] JoyfulGen commented on #650
After further discussion, @annamorphism and I can suggest two possible fixes for this:

1. Adding a button that can allow the user to insert a clef into the nearest syllable, like we already can for divisios. Clefs affect pitch though, so we don't know if this would work. @yinanazhou, what do you think?
2. If 1. doesn't work, another option would be to add a toggling function across clefs. So if t

[2022-05-13 12:36] JoyfulGen commented on #797
I tested the changes and, when selecting a ligature, the option to "toggle ligature" always appears, regardless of how you selected it. This is great! Also, when drag clicking on two puncta, the option appears to "toggle ligature" as well. There's just one little fix I'd like to ask for:

Another way of selecting two puncta is to click on one and then ctrl/cmd-click on the other. At the moment, if

[2022-05-13 12:52] JoyfulGen commented on #665
Tested the hotkeys for switching highlight modes and the arrow key to move between bboxes and they work perfectly!

[2022-05-13 15:51] jinh0 opened #818 "Fix zoom slider."
## Issue Description
Whenever I load the website and zoom in, I enter into a game of Russian roulette with whether Neon is going to be unresponsive or not.

I know I need to wait some period of time before I can zoom in, but it does not make sense that the zoom controls even shows up at all and **responds to my input** if it is not ready.

Either the zoom slider should be disabled (visually and fu

[2022-05-13 16:12] chetbae commented on #797
hey @JoyfulGen this newest pr should fix the problem for 2 puncta!

[2022-05-13 17:06] JoyfulGen commented on #797
Just tested it! It looks like it works if I select them from bottom to top, but if I select them from top to bottom I still get the "group neume components" option. Demo:

https://user-images.githubusercontent.com/83373378/168333442-91a83336-178f-4a0b-91c9-1ed23e050208.mov

[2022-05-16 13:38] JoyfulGen commented on #665
Tested the enter key shortcut and it works! Extremely awesome. I do have a little request to make it even more awesome though: could you make it so that when I'm done entering the text, the bbox stays selected? That would allow the user to continue working from that point using the arrow keys, without having to click on a bbox at all.

[2022-05-16 13:41] #797 closed

[2022-05-16 14:33] cadagong opened #820 "Removing Empty Neumes and Syllables"
MEI Actions Dropdown was added to the Neon _gh-pages_ branch. MEI Actions should be tested, particularly the two new features: Removing Empty Neumes and Removing Empty Syllables.

[2022-05-16 14:41] JoyfulGen commented on #820
Tested the Remove Empty Syllables function and it works! I'm noticing though that when I click on Remove Empty Syllables, the empty syllables are removed from the MEI, but visually nothing happens. However, as soon as I do any other action in Neon, the changes are applied.

Here's a demo, where I named the empty syllable HALLO and made its (pink) bbox bigger so it's easy to see:

https://user-imag

[2022-05-16 15:40] jinh0 commented on #665
Definitely! I don't know why it isn't like this in the first place. If you edit the text as before without the use of this enter key, it'd still unselect the bbox you were on. Therefore, this will require its own fix outside of just the enter key shortcut... I'll make a new issue about this and try fixing it.

[2022-05-16 15:45] jinh0 opened #823 "Editing syllable unselects the currently selected bbox."
## Issue
When you edit a syllable, either by the new enter key functionality (#822) or normally with the display text box, it unselects the bounding box you have currently selected:

https://user-images.githubusercontent.com/40512164/168632105-7cb503c5-d36b-4473-b87b-7407cfc0bb9b.mov

[This issue is also mentioned here.](https://github.com/DDMAL/Neon/issues/665#issuecomment-1127688267)

[2022-05-16 19:28] annamorphism commented on #693
adding: would it be possible to upload AND view multiple pages at a time? maybe with a reduced size image file? especially for proof-reading pages that have already been corrected,  this would speed things up a LOT.
I'd be satisfied with being able to upload multiple files, though.

[2022-05-16 20:14] jinh0 commented on #665
@JoyfulGen How does this look?

https://user-images.githubusercontent.com/40512164/168674839-25467e7c-4d71-4e90-be15-fff35adc720b.mov

[2022-05-16 20:22] JoyfulGen commented on #665
@jinh0 both of these look good to me. I like that if you edit a syllable through the text box, that's the syllable that's selected afterwards. Thank you!

[2022-05-16 22:23] annamorphism opened #824 "disappearing accidentals"
Moving some accidentals causes them to disappear. Weirdly, this doesn't seem to affect accidentals I've inserted--only ones that were there already on uploading.

https://user-images.githubusercontent.com/67451875/168691496-1b9a9348-437b-45bc-93fa-c8f657f1dad8.mov

https://user-images.githubusercontent.com/67451875/168691999-6f97c445-878d-4880-bc61-871c83381d0d.mov

[2022-05-16 22:36] annamorphism commented on #824
on further investigation, they don't disappear entirely, they just sort of skedaddle to somewhere else on the page:
![image](https://user-images.githubusercontent.com/67451875/168692972-5b724c5d-2438-4f01-9d78-87f8df3bb30e.png)
They like it there, too; any time you try to put them elsewhere, they return to the lowest staff (but at the x-coordinate you chose).

[2022-05-16 22:37] annamorphism commented on #824
turns out the divisios like to have a little party on the lowest staff too!
![image](https://user-images.githubusercontent.com/67451875/168693661-f84871f3-6aac-45d4-8936-eb59c7b32f5b.png)

[2022-05-17 13:35] jinh0 opened #826 "Sliders look ugly on production"
<img width="393" alt="Screen Shot 2022-05-17 at 9 34 33 AM" src="https://user-images.githubusercontent.com/40512164/168823434-cc0d3ac6-2aaf-4fc2-99fb-236e42b7ff58.png">

This does not seem to be an issue with Bulma slider, since it is still being imported.

[2022-05-17 19:19] annamorphism commented on #665
I find this video a bit confusing, because both "lem" and "cun" are highlighted on the page, just "lem" (="something") is highlighted in the text, but the editing action is on "cun". So if you were trying to remember what it was you were putting into the text box, what's highlighted is confusing.

[2022-05-17 20:12] annamorphism commented on #767
I'm probably not understanding the issue correctly. Wouldn't the stacks have to contain on the order of thousands of MEI files/changes before they started hitting anything close to 4GB? I haven't tested, but I'd guess the actual problem is somewhere closer to 100 edits.  Maybe the pictures are also getting saved somewhere?

It seems to me a quick and dirty "solution" could simply be to only mainta

[2022-05-17 20:23] napulen commented on #767
It'd be worth trying that "solution", if nothing else, as a way of debugging.

If the 10-change cache results in no memory growth/crashes in the browser, then we know that saving an unbounded number of intermediate files is related to the problem.

[2022-05-17 20:58] jinh0 commented on #824
Huh, that is a strange bug indeed. I'm not able to replicate this bug, can you send me the folio you're working on?

[2022-05-17 21:15] annamorphism commented on #824
This is folio 001r; I think it should be the same as the one currently in the "reviewed" folder.

[2022-05-17 21:18] annamorphism commented on #824
Seems to not be limited to that folio; just tried uploading 4r and it behaves the same way
[CH-E_611_004r.mei.zip](https://github.com/DDMAL/Neon/files/8711604/CH-E_611_004r.mei.zip)
.

[2022-05-17 21:37] jinh0 commented on #824
I can replicate it now! Will look into it :)

[2022-05-18 13:43] #801 closed

[2022-05-18 14:08] JoyfulGen opened #829 "Inserting an accidental into a syllable makes the MEI file invalid"
If an accidental is the child of `syllable`, the MEI file is invalid. This is true whether the flat is in the syllable in the straight-outta-omr file, or if it's manually inserted in the syllable by the user.

At the moment this isn't a huge problem, because flats are rare enough that deleting the problematic ones and putting them back in isn't too time-consuming. Long-term it would still be usefu

[2022-05-18 14:22] jinh0 opened #830 "Selection of bounding box disappears after hover over text"
If you selected a bounding box on a folio and then hovered over the text area (on the sidebar) corresponding to that bounding box, the selection color (red) disappears.

This is probably because the logic for hovering over the text area does not consider an already selected bounding box.

https://user-images.githubusercontent.com/40512164/169064130-c9ef2e03-736e-4ee3-8a53-8e225fe47223.mov

[2022-05-18 15:27] jinh0 commented on #824
Hi @annamorphism it seems like the MEI file itself is the issue?

The accidental in the MEI file that you gave me has a y-coordinate of 28517, way out of range of the normal height. This might explain why it keeps dropping down to the bottom.

![Screen Shot 2022-05-18 at 11 26 16 AM](https://user-images.githubusercontent.com/40512164/169080908-bbf44ba8-70fb-4e86-8e80-86798a4430c7.png)

[2022-05-18 16:55] cadagong opened #831 "Migrate Neon alert messages (such as hotkeys info) to actual modal windows"
It would be nice to replace window.alert messages with actual modal windows that contain the same info. Mostly for aesthetic and styling purposes.

[2022-05-19 13:08] yinanazhou commented on #824
Looks like this is in verovio.

[2022-05-19 13:26] jinh0 commented on #790
Since the coordinates themselves are all 0's before the file is uploaded to Neon, this is not an issue with Neon. Verovio, after seeing 0,0,0,0 deletes the coordinates entirely because it is not technically a bounding box.

[2022-05-19 13:35] jinh0 commented on #831
This is not just for aesthetic purposes because window.prompt() used for editing text actually blocks all background changes to the DOM. This may allow us more freedom for background changes.

[2022-05-19 14:29] JoyfulGen commented on #820
If I remove empty syllables, the page now immediately updates. The new feature works perfectly! Closing the issue now.

[2022-05-19 14:29] #820 closed

[2022-05-19 14:35] JoyfulGen commented on #683
Zoom slider is fixed! I can zoom as enthusiastically as I want, no slow down. Closing the issue now.

[2022-05-19 14:38] JoyfulGen commented on #690
The new feature works! I can remove individual files from browser Neon very easily. Thank you!

[2022-05-19 15:14] JoyfulGen commented on #683
Oops, sorry, I'm going to reopen the issue for a small detail. @jinh0, it used to be that clicking on the "Zoom" button made the zoom jump to 100 automatically, but now that doesn't seem to work anymore. The slider goes to 100, but the image doesn't change. Would it be possible to re-implement that function?

[2022-05-20 12:23] JoyfulGen commented on #690
Now that I've tried out this new feature more extensively, I'd like to make another little request: could there be a sort of "Are you sure you want to delete this?" message when the user clicks on delete? I may or may not have just accidentally deleted the file I was working on... twice.

[2022-05-20 12:47] JoyfulGen commented on #665
Tested the "g" toggle for grouping and ungrouping and it's AWESOME. I can go SO FAST. Everything seems to work smoothly for grouping/ungrouping neumes and staves.

The behaviour with toggled syllables is a bit strange, however. Normally, when selecting a syllable that's toggled with the next one on the staff, the user only gets the option to "Toggle Linked Syllables." Once the syllables are untogg

[2022-05-20 15:05] chetbae opened #833 "New Landing Page and Dashboard Issues"
Issues:

1. [x] Deleting multiple folios is broken.
2. [x] The filename that appears in the top left of editor does not accurately reflect the folio.

Wanted Features:

1. [x] Add cypress tests. - In progress
2. [x] Add option to open folios with double-click.
3. [x] Shift-click should select all the files between the first one you selected and the one you're clicking on, and command-click should

[2022-05-20 17:35] chetbae opened #834 "Document trash can on index page"
To save users from accidentally deleting important work.

Implement a collection bin of deleted documents that users can access to recover documents or delete documents for good. Bin should empty a document after the 30(?) day mark. 🗑

[2022-05-20 18:36] jinh0 opened #835 "Give empty text bboxes different color."
Maybe green.

[2022-05-20 19:29] chetbae commented on #690
@JoyfulGen Changes should be live! Working on a new page soon.

[2022-05-23 12:18] JoyfulGen commented on #690
Changes work! I see the "are you sure" message now, so I can go back to recklessly clicking a top speed without worrying too much. Thanks @chetbae!

[2022-05-23 13:13] #807 closed

[2022-05-23 13:20] JoyfulGen commented on #835
When using the syllable highlight, bounding boxes are already 7 different colours and the colour of each bounding box matches the syllable it's associated to. I like the idea of empty text boxes being visually different, but making them a different colour would remove the information of what's associated with what and that might end up being more confusing. @annamorphism, what do you think?

[2022-05-23 14:38] jinh0 opened #837 "Minor UI Aesthetic Issues"
- [ ] Zoom slider does not use bulma-slider on production
- [x] Notifications should use Bulma's built-in notifications

Feel free to add any UI issues.

[2022-05-23 16:33] jinh0 opened #839 "Have different notification types."
![Screen Shot 2022-05-23 at 12 33 36 PM](https://user-images.githubusercontent.com/40512164/169866335-49383cc4-d092-4624-b789-948f708b0598.png)

Wouldn't it be nice to distinguish an error notification and a warning notification and an info notification?

We can have nice things.

[2022-05-24 02:46] yinanazhou commented on #800
Hi @JoyfulGen, could you please confirm that this series of actions no longer causes empty syllables anymore? It seems like it is fixed in PR #836.

[2022-05-24 12:27] JoyfulGen opened #840 "Request to add a button that allows the user to insert a clef into the nearest syllable"
This issue is the proposed solution to https://github.com/DDMAL/Neon/issues/650.

Clefs are almost always a child of layer, but there are rare instances where a clef appears in the middle of a syllable. For example:

<img width="948" alt="061v clef inside - folio" src="https://user-images.githubusercontent.com/83373378/170033752-7bb0c47b-2fe4-4573-8f15-683cc03c631a.png">

<img width="1161" alt="27

[2022-05-24 12:55] JoyfulGen opened #841 "Merging a syllable containing a divisio makes that divisio into its own syllable"
Here's a demo: The blue syllable contains a divisio. If I merge it with the orange syllable following, the divisio in question becomes its own syllable, without a `syl` element. We know it's there, because the blue colour is suddenly missing. Deleting the divisio using the "Neume component" selection makes the `divLine` element go away, but the syllable remains. Undoing that action makes the divis

[2022-05-24 13:38] #760 closed

[2022-05-24 15:01] annamorphism commented on #835
Agree with @JoyfulGen that this would be too many colours.  What about having them outlined?

[2022-05-24 16:17] jinh0 commented on #683
Huh, that's weird, I'll look into that.

[2022-05-24 16:53] annamorphism commented on #824
@jinh0 Not a bad idea, though I wonder why these accidentals are showing up so far out of bounds in the first place. @JoyfulGen have you encountered this?
Also, even if the accidental is initially out of bounds, why isn't moving it creating a new (presumably in-bounds) y-coordinate for it?

[2022-05-24 21:27] jinh0 commented on #835
Outlined makes sense, but I was just thinking about the point of indicating empty text bboxes:

Wouldn't the purpose of indicating empty text bboxes to the user be so that they can add some text to all of them? Then wouldn't it be most convenient if there was an option to ONLY see empty bboxes, so you can use the arrow keys and enter shortcuts to breeze through adding text?

So instead of some vis

[2022-05-24 22:03] annamorphism commented on #835
I don't know--in your second example, we don't know whether the box on the fifth line is empty because it needs a "lem", or empty because it needs to be merged with the one next to it (as is in fact the case). Or whether the one after that belongs to "no" or "li." So I'm not sure it makes sense to think of the empty BBoxes without knowing what their neighbours look like. @JoyfulGen what do you thi

[2022-05-25 03:18] yinanazhou commented on #824
Ohhh yes! The cause is the same. The mei files may save the wrong coordinates before the issue is fixed.

[2022-05-25 12:39] JoyfulGen commented on #824
It's confirmed that the issue has been fixed! @annamorphism, are you ok to close it?

[2022-05-25 12:46] JoyfulGen commented on #683
Issue fixed! Closing it now.

[2022-05-25 12:46] #683 closed

[2022-05-25 13:15] annamorphism commented on #824
Closing this issue!!

[2022-05-25 13:15] #824 closed

[2022-05-26 15:16] cadagong opened #844 "It seems there is a font-size issue in certain browsers (all browsers?) when user OS has custom font size."

[2022-05-27 03:37] yinanazhou commented on #841
Hi @JoyfulGen, I have pushed the changes for this issue. Now when you group syllables that contain divLine or accid, they will be inside the new syllable. Please let me know if you noticed anything unexpected. Thanks!

[2022-05-27 13:46] chetbae commented on #690
@JoyfulGen @annamorphism
Big mistake on my part! Changes have been reviewed and are live.

[2022-05-27 14:47] JoyfulGen commented on #33
This is a duplicate of https://github.com/DDMAL/Neon/issues/709, closing it now.

[2022-05-27 14:47] #33 closed

[2022-05-27 14:50] #164 closed

[2022-05-27 14:50] #310 closed

[2022-05-27 14:51] JoyfulGen commented on #330
@yinanazhou we think this issue has been dealt with, but could you confirm?

[2022-05-27 14:52] JoyfulGen commented on #386
@yinanazhou we're also unsure about this one, please help?

[2022-05-27 14:58] JoyfulGen commented on #414
This appears to have been fixed! Closing now.

[2022-05-27 14:58] #414 closed

[2022-05-27 14:59] JoyfulGen commented on #533
@yinanazhou what about this one?

[2022-05-27 15:08] JoyfulGen commented on #612
This has been fixed. Closing issue now.

[2022-05-27 15:09] annamorphism commented on #643
I think updates to linked-syllables have fixed this issue.

[2022-05-27 15:09] #643 closed

[2022-05-27 15:12] #650 closed

[2022-05-27 15:14] #651 closed

[2022-05-27 15:19] JoyfulGen commented on #655
This is a duplicate of https://github.com/DDMAL/Neon/issues/648

[2022-05-27 15:19] JoyfulGen commented on #648
This also applies for this issue https://github.com/DDMAL/Neon/issues/655

[2022-05-27 15:25] JoyfulGen commented on #659
To our future selves: @annamorphism and @JoyfulGen please investigate further

[2022-05-27 15:28] annamorphism commented on #660
As it stands, the "neume groupings" are never close enough to reality to be a useful feature. Probably could use modification, or be at a further remove from the user.

[2022-05-27 15:48] JoyfulGen commented on #670
This is a duplicate of https://github.com/DDMAL/Neon/issues/673. Closing it now.

[2022-05-27 15:48] #670 closed

[2022-05-27 15:48] JoyfulGen commented on #673
This issue https://github.com/DDMAL/Neon/issues/670 has further info.

[2022-05-27 16:00] JoyfulGen commented on #690
The fix works! "Cancel" cancels and "Delete" deletes. Closing issue now.

[2022-05-27 16:00] #690 closed

[2022-05-27 16:02] yinanazhou commented on #841
Hi @JoyfulGen, we will add a new button that can move layer elements out of a syllable. For now, you can use ungroup to move them out. Sorry for the inconvenience.

[2022-05-27 16:04] JoyfulGen commented on #694
This issue has been fixed, closing it now.

[2022-05-27 16:04] #694 closed

[2022-05-27 16:10] jinh0 commented on #330
From what I saw, we aren't validating our XML in NeonCore.test.js , and looking through git log on this file, nothing about validation. So this is something we should do.

[2022-05-27 20:24] chetbae opened #849 "New unit tests for Neon (TDD) ✅"
Old tests are outdated. Write new tests to ensure all the new fixes and features rolling out don't break Neon, or at least so we don't miss tiny details that might become problems down the line. Related: #330

- [ ] zoom behaviour
- [ ] empty bbox
- [ ] empty neumes & syllables
- [ ] modal windows
- [ ] Edit Text modal windows
- [ ] grouping - divline selection

- [ ] unit tests for index page

[2022-05-28 22:32] chetbae opened #850 "zoom slider unexpected behaviour"
Zoom shortcuts are - (no shift) and + (w/ shift), a better alternative is to use - and + both with shift (so - will be _).

Using up and down arrow while focused on zoom slider will increment or decrement the slider but not handle change in the viewer.

[2022-05-29 17:50] #850 closed

[2022-05-30 12:59] JoyfulGen opened #852 "Request to allow for accidentals to be anywhere on the staff, not just top line"
This is related to the last comments in issue https://github.com/DDMAL/Neon/issues/661. Accidentals have now been implemented, but they only ever live on the top line of the staff. This is @annamorphism's comment:

"@yinanazhou does it help to know that in virtually all cases, the accidental should be on the pitch B/B-flat? In some cases this alone will be unambiguous, but just in case, the neares

[2022-05-30 12:59] JoyfulGen commented on #661
I made a new issue for the the requests remaining https://github.com/DDMAL/Neon/issues/852, so I'm closing this one.

[2022-05-30 12:59] #661 closed

[2022-05-30 13:15] jinh0 commented on #533
I can confirm this is no longer an issue.

[2022-05-30 13:15] #533 closed

[2022-05-30 13:22] JoyfulGen commented on #850
@chetbae, thank you! The shift + and - work perfectly on my end.

[2022-05-30 14:12] JoyfulGen opened #854 "Enhancement request: the ability to change the pitches of an oblique without toggling it"
This is a suggested alternative to https://github.com/DDMAL/Neon/issues/668, which we think will be more effective.

At the moment, if one or both pitches of an oblique are wrong, the user has to toggle the oblique into its two puncta, change the pitch of the puncta, and then toggle them back to an oblique. An eventual enhancement would be to allow the user to change the pitches of an oblique by c

[2022-05-30 14:25] #695 closed

[2022-05-30 14:28] JoyfulGen commented on #698
@napulen, could you tell us if this is still an issue that needs to be addressed?

[2022-05-30 14:33] JoyfulGen commented on #723
@yinanazhou we think this doesn't happen anymore. Could you confirm we can close this issue?

[2022-05-30 14:39] JoyfulGen commented on #790
Since this issue is an mei_encoding one, I'm going to close this one.

[2022-05-30 14:39] #790 closed

[2022-05-30 14:44] JoyfulGen commented on #802
Thanks to the new function that deletes empty syllables before correction, this isn't a problem anymore. Closing issue now.

[2022-05-30 14:44] #802 closed

[2022-05-30 16:52] jinh0 commented on #767
@cadagong and I also agree that it must be an issue with cache. However, there are also some weird things that seem to bug out Neon, like drag selecting many syllables at once.

Just quickly testing the hypothesis with cache, I was able to get Neon to take up 98% of my RAM, 15.92 GB out of 16 GB of RAM by just spamming inserting a new element.

![Screen Shot 2022-05-30 at 12 40 03 PM](https://user

[2022-05-30 17:08] JoyfulGen opened #855 "Feature request: the option to remove multiple files from browser Neon at a time"
It's already possible to remove a file from browser Neon, which is great! Eventually though, it'd be even more useful to be able to remove a whole chunk of files in one go, to speed up the process.

[2022-05-30 17:25] JoyfulGen opened #856 "Feature request: implement divisios minor, maior, and finalis (super not urgent)"
The broader feature request for divisios (https://github.com/DDMAL/Neon/issues/709) was getting long and the most important form for now, the divisio maxima, works perfectly, so I thought I would summarize what's left here. There are three divisio forms that still need to be implemented, as explained by @martha-thomae in this comment:

"The idea is to implement the maxima divisio first (the one co

[2022-05-30 17:25] JoyfulGen commented on #709
Summarized what's left in this new issue https://github.com/DDMAL/Neon/issues/856, so closing this one now.

[2022-05-30 17:25] #709 closed

[2022-05-30 20:05] jinh0 opened #857 "Memory leak of detached DOM elements"
Related to #767 . I believe this is the main cause of Neon's high memory consumption.

## Explanation
**TL;DR:** It is not an issue with our cache. It's an issue with how JavaScript garbage collection works. We have a memory leak of detached DOM elements.

![Screen Shot 2022-05-30 at 3 49 58 PM](https://user-images.githubusercontent.com/40512164/171053692-1f64fbd0-9dfd-41f0-9078-ced597bf72e7.png)

[2022-05-31 13:15] jinh0 commented on #857
Closed as this will be fixed in #767 .

[2022-06-01 19:08] #831 closed

[2022-06-02 02:33] yinanazhou opened #860 "Pending feature request: add left/right most in-syllable divLine position check while uploading and MEI actions to move them out"
As requested by @JoyfulGen, if the OMR process cannot eliminate left/right most in-syllable divLines, we can add a check when uploading mei files that can notify the user we have these divLines, and also provide an MEI action to move these divLines out.

[2022-06-02 02:42] yinanazhou commented on #830
Minor fix still needed:

After selecting the bbox, when click on another bbox's text, the latter bbox is selected, but not highlighted in red.

![image](https://user-images.githubusercontent.com/74484576/171541517-f1575f40-0cd9-4f13-9cb8-028d73b2d413.png)

[2022-06-02 13:20] #837 closed

[2022-06-02 18:37] JoyfulGen commented on #823
The issue is fixed! Now if I click on a bounding box and enter text, once I click "Save" the text entry box disappears, but the bounding box stays highlighted. Thank you! Closing issue now.

[2022-06-02 18:39] JoyfulGen opened #861 ""g" toggle for grouping neumes/syllables causes problems with toggled syllables"
This is my comment from issue https://github.com/DDMAL/Neon/issues/665:

The behaviour with toggled syllables is a bit strange, however. Normally, when selecting a syllable that's toggled with the next one on the staff, the user only gets the option to "Toggle Linked Syllables." Once the syllables are untoggled, selecting one of them gives the option to "Merge" or "Ungroup", as usual. The issue he

[2022-06-02 18:41] #665 closed

[2022-06-02 20:37] jinh0 commented on #767
However, this is by no means the end of our problems regarding performance. Upon further examination, Neon suffers from a plethora of performance issues.

This is the rough list of CPU / RAM / performance issues I have collected:
## CPU Issues:
(@annamorphism confirmed that high CPU usage has been an ongoing issue!)
- [ ] Worker.js taking up 100% CPU usage
- [ ] Worker.js should be interrupted on

[2022-06-03 02:42] yinanazhou commented on #861
@cadagong Can we make the "g" hotkey also work for toggle-linked syllables? If the selected syllables are toggle-linked, we can use "g" to untoggle them. @JoyfulGen would you prefer the untoggling function for toggle-linked syllables using "g"?

[2022-06-03 02:45] yinanazhou commented on #860
Needs @sabrina0822's confirmation on divLine encoding in the MEI-encoding job in Rodan.

[2022-06-03 02:52] yinanazhou commented on #723
This issue is related to issue #767, about xmllint in Neon. It is temporarily solved with a hardcoded memory limit. We need to find a better way to solve this.

[2022-06-03 14:42] JoyfulGen commented on #861
I think it could be confusing for the user to have the "g" shortcut both group/ungroup and toggle/untoggle. Maybe the best option could be to just have the "g" shortcut fail if the syllable is toggled. I'm really not sure though... @annamorphism, what do you think?

[2022-06-03 14:51] annamorphism commented on #861
Hmm...so if you've selected a group of syllables, g toggles/untoggles them, but if you have a group of neumes (or neume components), g groups/ungroups them? I kind of like it, actually...

[2022-06-05 04:12] yinanazhou commented on #841
Hi @JoyfulGen, I've added the button that can move divLine/accid out of a syllable. If they are inside a syllable, the `Move out of syllable` button will be available. And if you move them far away (near to another syllable), they will be moved out of that syllable and become a child of layer.  If they are outside a syllable, the `Insert into nearest syllable` button will appear. Please let me kno

[2022-06-06 13:11] sabrina0822 commented on #860
Was able to fix this in MEI-encoding job, getting ready to submit pull request today!

[2022-06-06 14:59] napulen commented on #767
@JoyfulGen for completeness, could you indicate the latest memory consumption of the app after a 35-minute work session (i.e., after the fix)?

[2022-06-06 15:00] napulen commented on #767
And congrats to all Neoners for squashing this one down.

[2022-06-06 17:50] JoyfulGen opened #863 ""Re-associate to nearest staff" hangs when selecting more than one syllable"
If I select more than one syllable and then click on "Re-associate to nearest staff," the command hangs and nothing happens.

The button works if I only select one syllable. Interestingly, it also works when I select at least one divisio along with the 2 or more syllables. So if, for example, I select three syllables and a divisio, the button works. If I select the same three syllables but not the

[2022-06-06 18:04] JoyfulGen opened #864 "Divisio behaviour inconsistent when moved vertically on the staff"
A demonstration:

https://user-images.githubusercontent.com/83373378/172218619-7ee4ac72-22a7-4eb4-a411-76d463fc21d7.mov

When I select the divisio and move it slightly upwards, it immediately jumps to the staff above, even though it's still much closer to the staff it's initially on. But then if I move it back and try to move it up again, it stays on its staff without a fuss. I don't know what mak

[2022-06-07 01:29] yinanazhou commented on #841
@JoyfulGen, sorry about the confusion! I've pushed the changes! should work now!

[2022-06-07 13:07] yinanazhou commented on #864
Hi @JoyfulGen, could you please provide this mei file? Does it happen very often?

[2022-06-07 13:15] JoyfulGen commented on #864
[CH-E_611_251r.mei.zip](https://github.com/DDMAL/Neon/files/8853468/CH-E_611_251r.mei.zip)
This is the file I was working on, but it happens in every folio.

[2022-06-08 03:13] yinanazhou commented on #863
Hi @JoyfulGen, I've pushed the changes.

For divLine's automatic staff change, I added it when I fixed the divLine dragging issue because it's hard to tell whether divLine is associated to the correct staff in Neon.

[2022-06-08 11:45] JoyfulGen commented on #863
Everything works now, thank you! Closing the issue.

[2022-06-09 19:55] cadagong opened #867 "Requests for future UI improvements"
These are some of the remaining UI updates that are desirable:

- [ ] Update dropdown icons (we need some nicer ones)
- [ ] In tablet/mobile mode, put filename and MEI status into the top navbar bar instead of the pancake menu
- [ ] Add option to edit filename
- [ ] Improve Edit panel: The various edit buttons and options are a little ad-hoc and could use some improvement. Perhaps adding more titl

[2022-06-13 20:03] annamorphism opened #869 "text insert misbehaves after closing dialogue box"
the dialog box for text entry lets you save, cancel, or close the window without without selecting either. If you X-out, though, any subsequent text dialogue boxes still show the syllable from the previous selection, and also modify that syllable (and not the one just selected.)
If there is going to be an X-out option it should behave like "cancel".

[2022-06-14 13:30] JoyfulGen commented on #841
It does work! Closing the issue now.

[2022-06-14 13:30] #841 closed

[2022-06-14 13:38] JoyfulGen opened #870 "Require a consult: moving staff sometimes pushes a glyph outside of the facsimile--how to address this?"
Because of the noise that can happen on the edges of an Einsie folio, there are often many glyphs on the very edge of the page. I've just realized that, if that's the case, moving the staff containing those glyphs can push the left- or rightmost glyph off the page; if this happens on the left side of the image, the `ulx` coordinate of that glyph becomes negative and the file becomes invalid. A dem

[2022-06-14 13:41] JoyfulGen opened #871 "cmd-click doesn't work anymore for selecting multiple staves"
In Neon, selecting one glyph, holding down the Command (or Control)key and clicking on another glyph selects them both. Since this morning, that function doesn't work for staves anymore. It works for neumes and syllables no problem, but if I select a staff and cmd-click on another one, the first staff deselects. I can still select two staves by drag-clicking over both of them, but it'd be nice to

[2022-06-14 14:44] cadagong opened #872 "Selected buttons in editor panel are hard to distinguish from non-selected buttons."

[2022-06-15 02:02] yinanazhou commented on #870
Hi @JoyfulGen, I think the latter solution is better. Actually, I think we should limit the position of all the elements and make them only move in the page area.

Secondly, @cadagong is working on a window that shows the MEI schema log message when clicking the INVALID. This function would also help the user to know where went wrong.

[2022-06-15 19:25] cadagong opened #875 "UI Fixes"
A list of current bugs/issues in Neon UI that should be addressed.
This is an ongoing thread and UI issues should be added as they are found.

- [x] Selected options (buttons) should be more visible (thicker outline).
- [x] Adding a visual cue that tells users if they're in Edit or in Insert mode.

[2022-06-16 02:53] fujinaga commented on #870
Don't forget that MEI validation message and log message window are only for developers and testers. We can show these for now but they should normally be hidden for general users (to do later).

[2022-06-16 12:53] JoyfulGen opened #878 ""Insert to nearest syllable" button doesn't work for all divisios on one staff"
In Einsie 246r ([246r divisios won't insert.mei.zip](https://github.com/DDMAL/Neon/files/8918953/246r.divisios.won.t.insert.mei.zip)), all the divisios on the 13th staff (third from the bottom) refuse to be inserted to the nearest syllable. Regardless of the selection method (syllable, neume, or neume component), the "Insert to nearest syllable" button hangs and nothing happens. All the other divi

[2022-06-16 15:32] #872 closed

[2022-06-16 15:33] cadagong commented on #872
Issue should be resolved now
<img width="422" alt="Screen Shot 2022-06-16 at 11 32 51 AM" src="https://user-images.githubusercontent.com/40658078/174106638-a8d415df-2cf4-4176-93d7-601c400cb749.png">

[2022-06-16 16:40] annamorphism commented on #686
Update: it seems like what happens is that putting the clef on line 0 (i.e. giving it a line attribute of 0) just deletes the line attribute altogether, and so the clefs don't show up anywhere (but do manage to relabel the notes before they fly away!).
Seems like "line 0" should be handled like negative lines in terms of how it renders the clef and invalidates the file.

[2022-06-16 19:55] jinh0 opened #879 "moveOuttaSyllable TypeError"
## Issue
Debug message keeps popping up every time you click on a layer element with select mode as layer element.

Bug is due to change in #862 .

![Screen Shot 2022-06-16 at 3 52 57 PM](https://user-images.githubusercontent.com/40512164/174153123-a6f06681-b560-421e-81e4-ec150815e58d.png)

## To replicate
Make sure you don't have any filters for console messages.

## Fix

I've already worked on a

[2022-06-17 15:03] cadagong opened #881 "User appears to be in Edit mode on page load but in reality must click or press Escape first."
This is a new issue. It seems like Edit mode isn't actually immediately activated on page load and the user has to actually click the Edit panel or press Escape.

[2022-06-20 03:50] yinanazhou commented on #864
Merged first stage fix. One more edge case needs @jinh0 to fix:

When the divLine is a child of a syllable, if the user drags the whole syllable to a new staff line, the divLine remains on the old staff line, whereas all the other elements are dragged to the new staff line.

[2022-06-20 12:17] JoyfulGen opened #885 "Shift+number shortcut not working"
Normally, pressing shift and then a number selects a glyph in the Insert menu. @ailynn-ang alerted me on Saturday that it wasn't working anymore. It was working on Friday, but I can confirm that it doesn't work today. All other shortcuts seem fine.

[2022-06-20 13:26] #879 closed

[2022-06-20 13:27] #869 closed

[2022-06-20 15:03] JoyfulGen opened #886 "Toggled syllable notification doesn't match MEI file"
When opening Einsie folio 247v, I get the notification that there's "No @precedes value for toggle-linked syllable: null." But when I do a word search in the MEI file, there's no syllable "null" anywhere.

<img width="1440" alt="Toggled syllable  null" src="https://user-images.githubusercontent.com/83373378/174629752-0dbe4c3a-7bff-49db-af4c-958927180d07.png">

[247v_where_is_null.mei.zip](https://

[2022-06-20 16:11] #839 closed

[2022-06-20 16:20] cadagong opened #888 "Add "Display All" button feature"
![Screen Shot 2022-06-20 at 12 20 32 PM](https://user-images.githubusercontent.com/40658078/174644053-48b293d4-020e-4545-b577-1de4dea88dda.png)

[2022-06-21 12:58] #881 closed

[2022-06-21 19:24] jinh0 opened #891 "Moving a neume to a new staff below causes it to stick to the top"
## Describe the bug
Moving a neume to any staff below its current staff that is not the one right below it causes the neumes to stick to the top.

This weird behaviour does not happen if you move the neume to a staff above rather than below.

From what I have discovered while trying to work on #864 , this is due to how neumes get moved: the pitch is calculated according to its original staff, and

[2022-06-22 12:31] JoyfulGen opened #892 "Sometimes "Edit" is underlined, but Neon is still in Insert mode"
When in Insert mode, clicking on one of the edit functions makes "Edit" underlined and brings Neon back to Edit mode. However, if you instead click on the "Edit" banner to collapse it and then click on it again to open it back up, "Edit" is underlined but Neon is still in Insert mode. A demo:

https://user-images.githubusercontent.com/83373378/175029437-caaa1bdb-452f-4825-b7a5-6676578557dd.mov

My

[2022-06-22 13:07] yinanazhou commented on #860
Hi @JoyfulGen, since we can check this in the MEI-encoding job, could you please confirm that this issue can be closed?

[2022-06-22 13:21] #875 closed

[2022-06-22 13:59] JoyfulGen commented on #885
Issue fixed!

[2022-06-22 14:01] JoyfulGen commented on #860
I'd like to test the MEI_encoding job before closing the issue, but I've waiting for text_alignment to be back up. Now I think of it though, I can just use old text_alignment output files! I'll test it as soon as possible and close the issue then.

[2022-06-22 14:02] JoyfulGen commented on #886
Ohhh, that makes sense! Sorry for missing that.

[2022-06-22 19:56] jinh0 opened #895 "♻️ Use only one function to get SVG-relative coordinates"
## Describe the problem
We use `SVGPoint` to calculate SVG-relative coordinates in different files in Neon, and the calculation is inconsistent.

On top of this, `SVGPoint` is deprecated, and [MDN Docs warns](https://developer.mozilla.org/en-US/docs/Web/API/SVGPoint),

## Solution
From what I have tested so far, the `getSVGRelCoords()` function I wrote for the pull request #882 calculates what we

[2022-06-23 04:00] yinanazhou commented on #892
Hi @JoyfulGen, I have pushed the changes for this issue

[2022-06-23 12:03] #892 closed

[2022-06-23 12:41] #888 closed

[2022-06-23 12:42] JoyfulGen opened #898 "Series of actions causes staff to become black while highlighting by staff"
This is best shown:

https://user-images.githubusercontent.com/83373378/175299408-dbb2635a-3cd5-4f6f-8798-a03c2f968ea4.mov

These are the steps that produce this result:
1. Highlight by staff
2. Turn on bounding boxes
3. Select a staff and change its dimension slightly - it becomes sort of passively selected (not red, but still selected)
4. Turn off bounding boxes

And here's another set of steps

[2022-06-23 20:42] jinh0 commented on #886
The issue is with the MEI encoding job, because syllables (orange and pink) exist within the toggle-linked syllable (blue).

![Screen Shot 2022-06-23 at 4 37 57 PM](https://user-images.githubusercontent.com/40512164/175395198-16f76620-3f17-4bb0-b776-4506209cda63.png)

But there are still faulty / incorrect error notifications about toggled syllables, for instance, an error can occur if the @follow

[2022-06-24 16:38] jinh0 commented on #878
Seems to be an issue in Verovio. I'll take a look.

[2022-06-24 19:56] jinh0 commented on #878
Hey @JoyfulGen , this was an issue with a neume in the 13th staff that didn't have a neume component. Our insertToSyllable() function expected all neumes to have neume components, so it freaked out.

I made a fix for it, and the pull request should be up soon.

[2022-06-25 18:32] cadagong opened #903 "Should a user be able to merge a syllable with a syllable that spans two staves?"
<img width="810" alt="Screen Shot 2022-06-25 at 2 33 21 PM" src="https://user-images.githubusercontent.com/40658078/175786293-ba00e59b-971a-4d23-918b-1273cc0a3d63.png">
 In the example above, should a user be able to merge the syllable circled in blue with the syllable circled in red?

[2022-06-25 18:39] cadagong commented on #903
Either way, the behavior on the live site seems to be inconsistent at the moment. If I click on the blue selection first and then the red selection, I am shown the options that include merge (and no option to toggle link). However, if I click on the red selection first and the blue selection second, I am only shown the toggle link option.

[2022-06-25 21:12] yinanazhou commented on #886
Currently, Neon only checks adjacent syllables for @precedes/@follows. This kind of toggle-linked syllable (1, on the same staff; 2, have syllables in between) cannot be created in Neon though. This should be created in the MEI-encoding job (need @sabrina0822's confirmation). The key to the checking algorithm would be, whether toggle-linked syllables like this one happens in Neon. Need help from @

[2022-06-25 22:06] #878 closed

[2022-06-26 02:01] yinanazhou commented on #903
Hi @JoyfulGen, I remember we had a discussion about the merging problem of toggle-linked syllables (but I couldn't find which issue it is).

Currently, the merge option is provided when the user selects a syllable and a toggle-linked syllable. And when the user clicks the merge button, the syllables will not be merged and the toggle-linked syllable will be automatically unlinked.

What do you thin

[2022-06-26 02:37] yinanazhou commented on #878
Hi @JoyfulGen, I've pushed the changes. The issue is caused by an empty neume. We have added an empty neume check, but we suggest you first remove empty neumes after loading a file.

[2022-06-26 02:38] yinanazhou commented on #871
Hi @JoyfulGen, I've pushed the changes for this issue.

[2022-06-26 12:11] cadagong commented on #903
@yinanazhou It seems like the option to merge is only provided if the toggle-linked syllable is selected first

[2022-06-27 12:11] JoyfulGen commented on #871
Fixed! Closing the issue now.

[2022-06-27 12:47] cadagong commented on #903
So just to clarify: In this case, if the user were to want to merge a multi-stave syllable (a) with a syllable (b) before or after it, the user would first need to toggle (un-link) the lined syllable, merge one of the resulting unlinked syllables (c) with the original syllable (b), and then re-toggle the resulting syllables.

I hope that makes sense!

[2022-06-27 13:21] jinh0 opened #905 "Error notifications should contain the ID of the syllable / neume"
- [x] Neume without a neume component
- [x] Empty syllables

[2022-06-27 13:24] jinh0 opened #906 "Notifications should have a close button and copy-to-clipboard button"
Related to #905 .

- Notifications should have a close button (X) to close the notification early
- Notifications should have a copy-to-clipboard button for those with IDs
- There should be a longer timeout for notifications

[2022-06-27 17:05] jinh0 commented on #818
This is still an issue, and can be fixed alongside some other issues we are trying to solve.

[2022-06-27 19:42] annamorphism commented on #886
@JoyfulGen this seems to be a problem with the error message. the syllable *is* linked, so it doesn't have a <syl> marker at all, but that means it's pretty hard to tell the user what it is by referring to the text (it's the syllable starting the third staff, linked to the "ta" above.)  Not sure if there is a good solution for that.
As @jinh0 already pointed out, the problem is these weird interve

[2022-06-27 19:51] annamorphism commented on #906
agree about the close button and the timeout, but copying to clipboard is only so useful unless you are simultaneously looking at the MEI in another window (and what if you have a bunch of notifications to deal with at once?).
What if you simply got one notification that e.g. "there are one or more syllables without a neume" and you could choose to review the list of them somewhere in MEI actions?

[2022-06-27 19:58] annamorphism commented on #903
whoa, you're right! somehow never consciously realized this.

[2022-06-27 20:02] annamorphism commented on #903
this does seem like it would be most consistent with the "g" toggle, as @JoyfulGen says, though I must say it sounds kind of cumbersome. Personally I think I would prefer the other of the two previous behaviours, where you can keep merging new syllables onto an already-linked syllable; otherwise you might have to undo a grouping you just did, group new things, group the stuff you had before...but

[2022-06-27 23:04] sabrina0822 commented on #886
@JoyfulGen Was this made with the old MEI encoding job or the new one? This shouldn't happen so I might try using the TA and PF files to see if this still happens.

[2022-06-28 03:30] yinanazhou commented on #886
@jinh0, in this case, we should use Array.find() to find whether there is a corresponding syllable, check whether the following syllable index equals the preceding syllable plus one, and give different notifications on these two checks.

[2022-06-28 13:33] #895 closed, assigned to jinh0

[2022-06-28 15:18] cadagong commented on #903
Yes I would agree with this!

[2022-06-28 15:19] JoyfulGen commented on #903
Ok sounds good! I guess I've just gotten used to doing it the long way... oops. I agree that Anna's suggestion is much more efficient.

[2022-06-30 05:41] chetbae commented on #674
Bug fixed, pending approval from @yinanazhou !

https://user-images.githubusercontent.com/48145854/176601167-4df0a87d-bbac-4292-838c-1c5544d29c0a.mov

[2022-07-01 16:04] jinh0 commented on #898
The code for highlighting is just straight up messed up. It's confusing, and honestly it's not the first time we've had an issue with unexpected highlighting behavior #830 . It might be time to consider reorganizing the highlighting functionality as a whole.

[2022-07-01 20:35] jinh0 opened #908 "Alert user of unsaved changes"
If the file has been edited but not saved, there should at least be a visual indicator next to the file that there are unsaved changes. Also, we may consider adding a feature where if you try to leave the website with unsaved changes, there should be an alert, like in Google Docs.

[2022-07-02 20:43] #674 closed

[2022-07-02 21:08] yinanazhou commented on #818
Could you please explain what the issues are?

[2022-07-04 16:51] jinh0 commented on #818
The core issue was that zoom was able to be changed before the SVG loaded, which caused not just this issue but also localStorage changes to zoom, glyph opacity, and image opacity to not work. They have now all been fixed in the localStorage PR #907. Fixed in this commit: eecf379a2cf22d3f0e1b26b38b388978e00ac922

[2022-07-05 04:07] yinanazhou commented on #886
Hi @JoyfulGen, I have pushed the changes that fix the notifications for toggle-lined syllable check.

[2022-07-05 04:09] yinanazhou commented on #674
Hi @JoyfulGen, I've pushed the changes to `gh-pages`.

[2022-07-05 04:11] yinanazhou commented on #830
Hi @JoyfulGen, I've pushed the changes for the minor issue.

[2022-07-05 12:10] JoyfulGen commented on #886
This looks great, thank you! Closing the issue now.

[2022-07-05 12:10] #886 closed

[2022-07-05 12:18] JoyfulGen commented on #830
Hi @jinh0 and @yinanazhou, the changes work! I've found another small related issue though:
Normally, when you select a bounding box, its corresponding syllable in the text box becomes highlighted. However, if the "Text" checkbox isn't checked at first and I select a bounding box and then check the "Text" box, the bounding box I selected stays highlighted, but its corresponding syllable doesn't hi

[2022-07-06 10:43] rettinghaus opened #913 "Master branch doesn't reflect releases"
It is quite strange that the last commit to this repo's default branch happened on [13 Aug 2020](https://github.com/DDMAL/Neon/commit/7f57b0eb6f990b5f7eef3f348a2d1c3389920a44), while the latest release is just three weeks old.

Also there are so many branches. Why?

[2022-07-06 12:52] rettinghaus opened #914 "Update Neon Demo"
It seems like the demo version online is outdated.
Please update this to the latest version and make it possible to display the current version (e.g. via the local menu).

[2022-07-06 13:02] yinanazhou commented on #804
Hi @JoyfulGen, I have pushed the changes for local storage. Please let me know what you think about this new feature!

[2022-07-06 13:18] rettinghaus opened #915 "Add reference string to facsimile"
The `facsimile` (or the `surface`) element should carry an human readable identifier to reference the used image. This could be stored in the `@label` attribute.

[2022-07-11 21:31] chetbae opened #917 "Final touches for new index page"
- [x] Previous index page had:
_"Neon is developed at [DDMAL](https://ddmal.music.mcgill.ca/) and is part of the [SIMSSA](https://simssa.ca/) project.
Need help? Check out the [Neon quick start guide.](https://github.com/DDMAL/Neon/wiki/Quick-Start)"_,
implement something similar?
- [x] Sample folios. (limit to 10 CF-??? plus Salzinnes?)
- [x] Style to match editor 💄

[2022-07-11 23:49] fujinaga commented on #917
Should be "Neon is developed at [DDMAL Lab](https://ddmal.music.mcgill.ca/)  and is part..."
There should also be a link to to this Github repo.
Also list all the developers that worked on Neon (Neon.js-Legacy-, Neon-index, & Neon_wrapper). Make sure to include Gregory Burlet, who wrote the original code and Andrew Hankinson. Maybe list people in the order of number of commits, after Burlet and Ha

[2022-07-12 07:53] chetbae commented on #917
Will do @fujinaga, I'll look into the contribution order and add a footer to Neon.

[2022-07-12 13:38] jinh0 opened #919 "Dragging a toggle-linked syllable should only move one part"
Right now, if you drag a toggle-linked syllable, both parts of the syllable move, which doesn't make sense.

[2022-07-12 13:40] jinh0 opened #920 "Check if there are any out-of-bounds glyphs"
And allow the user to remove them

[2022-07-14 13:11] yinanazhou commented on #700
Hi @JoyfulGen, I've pushed the changes for this issue to the Github page. Please let us know if it works as expected.

[2022-07-14 19:28] jinh0 commented on #645
Accidentals also seem to have the same problem.

[2022-07-18 03:52] #645 closed

[2022-07-18 04:23] yinanazhou commented on #645
Hi @JoyfulGen, I've pushed the changes for this issue. Please let us know if anything unexpected happens.

[2022-07-18 19:29] jinh0 opened #927 "Issue with drag selection calculation"
Drag selection rectangle does not work as before after PR #911 . Now, you have to have your drag selection rectangle over the entire neume component to select it.

https://user-images.githubusercontent.com/40512164/179577186-432329d4-1870-492c-bd70-16c1ce7bdf7a.mov

[2022-07-18 20:26] #852 closed

[2022-07-19 13:30] yinanazhou commented on #927
Hi @JoyfulGen, I have pushed the changes for this issue. The dragging action should function well now.

[2022-07-19 13:32] yinanazhou commented on #852
Hi @JoyfulGen, I have pushed the changes for this issue. Now accid should be able to be anywhere on the staff, and the staff changing action should also function well. Please let us know if anything unexpected happens.

[2022-07-19 15:14] JoyfulGen commented on #927
It does, thank you!

[2022-07-19 15:14] JoyfulGen commented on #852
Looks great, thank you!

[2022-07-19 15:25] JoyfulGen commented on #920
This looks good! I tried dragging various glyphs off the page and they jump right back. Very entertaining. There appears to be a small problems with bounding boxes though; I can't move them at all without getting an "Out of bounds" notification, as if the allowed bounds in this case is only where the bounding box currently is. I've just realized the same is true of staves.

As for notifications, f

[2022-07-19 15:43] annamorphism commented on #927
can confirm this is fixed!

[2022-07-19 15:43] #927 closed

[2022-07-19 15:53] annamorphism commented on #920
@JoyfulGen there's also orange for warnings!
I like the different colours--it means I don't actually have to READ all the words to know whether it's telling me to do something, or talking about something I already did. I do find the darker blue just a little hard to read?
Also, splitting hairs here, why is "Click The Beginning Of The Second Neume" with capitals, but "Neume splitting successful" is

[2022-07-19 15:54] annamorphism commented on #920
@JoyfulGen wait we cross-commented. is your yellow my orange or is there a whole rainbow of colours?

[2022-07-19 15:58] annamorphism commented on #920
and while we're on the topic of error messages:
We get a single error message for glyph(s) out of bounds, but multiple error messages for syllables without neumes, which is a little overwhelming. If we only got one for each type of error, that would be better.

[2022-07-19 16:01] annamorphism commented on #920
also, on this folio (Einsie 26r) I get a warning that there are out of bounds glyphs:

![image](https://user-images.githubusercontent.com/67451875/179796198-337ccac7-084b-4893-81c6-590d5a705ce8.png)

but then when I use the action to remove them, they aren't there:
![image](https://user-images.githubusercontent.com/67451875/179796412-3bab61a3-3ad8-4d10-9461-1922325cdc04.png)

and the MEI stays inv

[2022-07-20 04:12] yinanazhou commented on #700
@jinh0 noticed that the OOB check has two issues with bounding box:

- [ ] Moving any bbox to anywhere would show the OOB error (traced back to `selectionBBox`, will discuss tomorrow)
- [ ] resizing bbox to OOB has no OOB check

[2022-07-20 04:13] yinanazhou commented on #700
Hi @JoyfulGen, I have pushed the changes for staff insertion. Please let us know if it's working as expected. Thanks!

[2022-07-20 04:15] yinanazhou commented on #920
Hi @annamorphism, could you please provide the folio you are using? What is the element type for this OOB element?

[2022-07-20 12:43] JoyfulGen commented on #920
Yes, my yellow is your orange, so I think four colours is what we got. And if you like 'em, I like 'em too! And I agree with only capitalizing the first word in the notifications.

[2022-07-20 13:55] annamorphism commented on #920
Ah, I figured it out--it's a bounding box, which can actually be dragged in without needing the MEI action.  However, it's confusing to be told there is a glyph that needs dealing with, and then also get a message that it isn't there. So either bounding boxes should also be affected by the MEI remove-OOB action, OR the warning needs to be different (or not exist) if the invalid MEI is caused by so

[2022-07-20 13:59] annamorphism commented on #700
I can resize them but not move them! I can even resize them so an edge goes off the page, but then not move it so it's all on the page. Wild!

[2022-07-20 17:33] jinh0 commented on #920
Hey everyone, I have fixed the bounding box issue, but regarding staves, it's because clefs are really weird!

Clefs have a bounding box that starts from x=0 and y=29250??????
[code]

Anyway, the fix I'm thinking of thus is that we exclude the bounding boxes of clefs in our OOB calculation.

But can somebody confirm whether clefs are supposed to have such weird coordinates?

[2022-07-20 17:35] yinanazhou commented on #920
Clefs shouldn't have these weird coordinates. Could you please check in verovio? I think it's the issue with two coordinate systems.

[2022-07-20 17:37] jinh0 commented on #700
Hey everyone, I have fixed the bounding box issue (I'll push the changes soon), but regarding staves, it's because clefs are really weird!

Clefs have a bounding box that starts from x=0 and y=29250??????

<use xlink:href="#E906" x="0" y="29250" height="223px" width="223px"></use>
Anyway, the fix I'm thinking of thus is that we exclude the bounding boxes of clefs in our OOB calculation.

But can s

[2022-07-21 01:54] jinh0 opened #933 "👻 Out-of-bounds "ghost" clef generated by Verovio"
Related to #700 .

For some reason, Verovio seems to generate an extra clef in the first staff, which is not reflected in the MEI file, that has coordinates x=0 and some outrageous y-value. What's even weirder is that this y-value varies by folio. One folio has a y-value of 29342 while another has a y-value of 29250. Worth investigating.

![Weird clef](https://user-images.githubusercontent.com/405

[2022-07-21 06:35] chetbae commented on #840
https://user-images.githubusercontent.com/48145854/180144746-ed2142de-02bf-44e1-8dfb-4cc197a366d9.mov

Just checking that this is the expected behaviour for clef being inserted and moved out of syllables @JoyfulGen?

Play-by-play:
- target syllable has pitches relative to preceding clef
- clef-being-inserted is inserted and highlighted if in syllable selection
- divLine is inserted and highlighted

[2022-07-21 12:10] JoyfulGen commented on #840
This is awesome!! I particularly like the addition of clefs and divisios taking on the syllable colour if they're part of it. This will  be incredibly useful, thank you!

[2022-07-21 13:44] chetbae commented on #840
@JoyfulGen @annamorphism One more thing!

Suppose a clef is inserted into a syllable. When dragging the syllable, how should the clef behave after the syllable is in a new position? For example, maybe the clef should move with the syllable left or right, but maintain the same line in the staff. Or, move with the syllable and snap to the closest line when dropped?

[2022-07-21 15:00] annamorphism commented on #840
@chetbae I think I like the first option better, so the clef's line stays the same. @JoyfulGen what do you think?  I feel like moving a syllable with a clef in it doesn't come up too often.

[2022-07-21 15:01] JoyfulGen commented on #700
@jinh0 it looks like liquescents are also behaving weirdly. I can't move either upwards or downwards liquescents without getting an OOB notification.

[2022-07-21 15:12] annamorphism commented on #933
Weird. I'm not sure how to see what you're seeing... I could see the mystery coordinate being dependent on the height of the page (but shouldn't they all be the same?). If not, maybe there's some relationship to where the first staff actually is? Definitely very strange.

[2022-07-21 15:15] annamorphism commented on #700
@JoyfulGen I can move some of the liquescents, some of the time...as long as I'm very gentle and stay on the staff and don't move left or right. But if I move them too many times or in the wrong way they get very upset and don't want to do anything anymore.

[2022-07-21 20:06] #933 closed

[2022-07-21 20:36] yinanazhou commented on #920
After discussing with @jinh0, the ghost clef is drawn in `DrawStaffDef()` in verovio. This function draws the clef in the staff definition, such as the clef at the beginning of the staff in the modern notation. In the neume notation, we draw the clefs separately. Therefore, we disabled the `DrawStaffDef()` in `DrawStaff()`.

[2022-07-22 12:27] JoyfulGen commented on #840
@chetbae @annamorphism I agree, I prefer the first option as well. Once the clef is on the correct line, it's easiest for the corrector if it stays there!

[2022-07-22 12:31] JoyfulGen commented on #920
@yinanazhou I can move the top staff now! However, I can still resize a staff to stretch beyond the page edge and Neon doesn't seem to mind. I think it'd be best if that wasn't possible either.

[2022-07-22 13:11] jinh0 commented on #920
- [ ] Resizing staff
- [ ] Resizing bounding boxes

[2022-07-25 15:50] JoyfulGen opened #938 "Neon won't allow you to regroup neumes within the same syllable"
If I ungroup a neume, I get the notification that the ungrouping was a success. However, if I try to regroup some or all of those neume components using the neume selector, the operation fails. Demo:

https://user-images.githubusercontent.com/83373378/180820344-93d362e8-5eb8-48ed-9aaf-10f6e62baa30.mov

I understand that this happens because if neumes are part of the same syllable, they're technica

[2022-07-25 17:16] annamorphism commented on #938
@JoyfulGen I'm not sure we want to allow more groupings--for example, we don't want to end up with a situation where those last three puncta are grouped into a syllable sitting inside a syllable. i have a weird feeling that letting people group this way would create all sorts of funny business, but I could be wrong.
HOWEVER at the very least I do think the error message could be changed, so that i

[2022-07-25 18:27] jinh0 opened #939 "critical: Incompatible glyph coordinates in Firefox"
Firefox seems to calculate coordinates differently for <use>'s. This means that on Firefox, currently, trying to move any neume or staff or anything that is not a bounding box will cause a "Out of bounds" error.

![outofbounds](https://user-images.githubusercontent.com/40512164/180847476-4a34e885-d4bf-411a-a9df-ae8ea2e8fc9e.png)

[2022-07-26 07:07] chetbae commented on #840
https://user-images.githubusercontent.com/48145854/180944905-a1bd0e55-6097-42e7-bf9b-8a9c885aec61.mov

Woohoo changes incoming @yinanazhou

[2022-07-26 17:50] #849 closed

[2022-07-27 12:25] JoyfulGen commented on #870
This issue is being addressed here https://github.com/DDMAL/Neon/issues/920 so I'll close it.

[2022-07-27 12:25] #870 closed

[2022-07-28 02:30] yinanazhou commented on #938
Hi @annamorphism and @JoyfulGen, sorry for the late reply. One thing we could do is not to give the user the option to group neumes within a syllable. I have pushed the changes for the option fix (only give the options that are eligible to the user) in PR #904. Please let @cadagong and me know if anything unexpected happens.

[2022-07-28 02:31] yinanazhou commented on #903
Hi @JoyfulGen, I have pushed the changes. You should be able to merge toggle linked syllables now.

[2022-07-28 12:17] JoyfulGen commented on #938
Oh, that's just an old mistake of mine that popped back up here because I used rodan production instead of staging... No worries, this isn't an issue anymore.

[2022-07-28 12:56] JoyfulGen commented on #903
Indeed I can! That's very cool. The "g" toggle is even more magical now; you can toggle syllables with it! Fix works perfectly, closing issue now.

[2022-07-28 12:56] #903 closed

[2022-07-28 14:17] JoyfulGen commented on #938
@yinanazhou, Anna and I discussed this and we find this ultimately more confusing than it used to be. The problem is that, depending on the situation, the user sometimes has to group neumes and then neume components, and sometimes just neume components. It used to be that when you selected two neumes within one syllable, you could group them; nothing would happen from a code perspective, but nothi

[2022-07-28 16:49] jinh0 opened #940 "bug: divLines do not get highlighted correctly"
- [x] Divlines are not highlighted red when a staff is selected. This is inconsistent with when a divine is highlighted red when a syllable is selected.
- [x] Divlines have never shown their true colors when layerElement highlight option is turned on.

[2022-07-28 22:57] jinh0 opened #942 "Neon Test Coverage"
The new E2E testing with Cypress, starting with https://github.com/DDMAL/Neon/pull/941 :

### Zoom
- [x] Reset button
- [x] Zoom to different levels using the slider
- [ ] Other sliders: glyph opacity and background image opacity

### Select
- [x] Staff
- [x] Syllable
- [ ] Divline
- [ ] Clef
- [ ] Accidentals

### Drag
- [x] Bounding boxes within bounds
- [x] Syllables within AND out of bounds
-

[2022-07-29 12:26] JoyfulGen opened #944 "Selected syllables don't get highlighted when in the Neume Highlight"
If I'm using the overall Neume Highlight option and I use the syllable selection tool, elements I click on don't get highlighted. If I go to the Syllable Highlight option I can see that the element I clicked on really is selected; it's just not showing up when highlighting by neume. Here's the demo:

https://user-images.githubusercontent.com/83373378/182158340-6ddd52c4-7008-4c43-9960-8274e0be58a4.

[2022-07-29 12:42] annamorphism commented on #944
@JoyfulGen your movie didn't upload...

[2022-08-01 03:04] yinanazhou commented on #898
Hi @JoyfulGen, I've pushed the changes for this issue.

[2022-08-01 03:07] yinanazhou commented on #938
Hi @JoyfulGen, just to be clear, the expected behaviour of grouping two neumes within one syllable is to make them a bigger neume? Should users have the option to group neumes in different syllables?

[2022-08-01 03:09] yinanazhou commented on #908
Hi @JoyfulGen, I've pushed the changes for this issue. We also added a saved/unsaved indicator beside the file name.

[2022-08-01 12:11] JoyfulGen commented on #908
I like that little cloud; it has a lot of personality. I tried adding things and then refreshing the page and I got the alert. Everything works great! Closing issue now.

[2022-08-01 12:11] #908 closed

[2022-08-01 12:17] JoyfulGen commented on #898
Now the "passive" selection just doesn't exist! Neat. It was confusing. That definitely fixes all the problems; closing issue now.

[2022-08-01 12:17] #898 closed

[2022-08-01 13:28] JoyfulGen commented on #944
Should be there now! Took me three tries, but we made it in the end.

[2022-08-01 13:31] JoyfulGen commented on #833
@chetbae this looks amazing! I particularly like being able to upload different file types and then pair them. That's very neat and time-efficient. I tested all the functionalities you listed above and everything works perfectly, with the small exception of the delete function. I can delete one file at a time, but if I select more than one file and try to delete them, nothing happens.

I also have

[2022-08-01 14:47] JoyfulGen opened #946 "Discussion about grouping/merging"
This is a place to discuss a more long-term solution to https://github.com/DDMAL/Neon/issues/938 (and whether a solution is needed at all). @annamorphism @yinanazhou @jinh0 @chetbae @cadagong

**The current situation**

The neume component selector tool groups nc's into a neume, the neume tool groups neumes into syllables, and the syllable tool merges syllables into a larger syllable. At the momen

[2022-08-01 15:23] annamorphism commented on #542
just a note that there seem to be different favicons for the landing page and editing pages right now.
![image](https://user-images.githubusercontent.com/67451875/182183807-808355c2-71a8-4fde-9267-da506b886381.png)

[2022-08-01 15:32] annamorphism commented on #833
this functionality is AMAZING! I can upload so many things! I can open them all at the same time (if I remember to disable my pop-up blocker anyway)! SO MUCH TIME SAVED I love it.
however something a little weird is going on with the names:
this is supposedly 1r (it isn't):
![image](https://user-images.githubusercontent.com/67451875/182185046-cd080191-b5e2-4de8-ba0d-ce51ef553dc3.png)

and so is th

[2022-08-01 15:59] annamorphism opened #947 "files get renamed on opening"
Here's a bunch of files I uploaded all at once:
![image](https://user-images.githubusercontent.com/67451875/182186761-494906a4-540d-4a3d-9179-d44a95bcea3b.png)

Command-click, I open all 16. Results:
1r: correct
3r, 4r, 7r: correct
8v: right neumes, but *labelled* 1r in upper left
1v, everything else: labelled 1r, no MEI apparently.
(Same results for shift click.)

Opening the pages individually:

[2022-08-01 16:07] cadagong commented on #833
Just wanted to mention that you can also unselect a selection by pressing "Escape". But clicking away is definitely an option that we should add!

[2022-08-01 16:23] annamorphism commented on #833
@JoyfulGen weirdly, though I have the same different-sized button issue as you do (I think they're sort of attractively in their many shapes):
![image](https://user-images.githubusercontent.com/67451875/182196520-feda33d7-b5b8-4074-b740-a3518c46dd29.png)

I also have plenty of uploads where the file name is compressed in such a way that I can't tell what page they are at all:
![image](https://user

[2022-08-01 20:50] chetbae commented on #947
Oh this is strange! @annamorphism would you mind attaching the png and mei files for 1r and 8v for me to test with?

[2022-08-01 23:15] chetbae commented on #833
I'm in favour of the asymmetry 🤠

[2022-08-02 12:59] JoyfulGen commented on #920
@jinh0 there's a slightly weird thing going on with bounding boxes. If I resize a bounding box, it becomes "passively" selected like the staves used to be. If I click on it nothing happens, I can't resize it again. All I can do is click elsewhere to deselect it, and then select it again. Here's a demo:

https://user-images.githubusercontent.com/83373378/182379866-c72c14f7-0c58-4033-98be-7f09b98e7b

[2022-08-02 15:38] annamorphism commented on #947
@chetbae I am going to do a little experimenting first--I don't think it's those particular files, but probably something to do with my workflow. Going to see whether I can replicate it....